﻿@model  dynamic

<div class="container">

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessCandidateTag", OnFailure = "handleError" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Rolletype</h4>
            <hr />

            <h1>@Model.CandidateId</h1>


            @foreach(var tag in Model.List)
            {
                <input type="checkbox" value="@tag.Item1"  />@tag.Item2 <br/>
            }

            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            @Html.HiddenFor(model => model.CandidateId, new { htmlAttributes = new { @class = "form-control" } })*@

            @*<div class="form-group">
                @Html.Label("Erhverv", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("TagId", ViewBag.TagList as List<SelectListItem>, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TagId, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <hr />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button value="Save" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Gem </button>
                    <input type="button" value="Luk" class="btn btn-default" id="diagCloseBtn" onclick="closeDialog();" />
                </div>
            </div>
        </div>
    }


</div>

