﻿@model IEnumerable<CVApp2.ViewModels.CandidateTagVM>

@{
    ViewBag.Title = "Index";
}

<div class="EditPageSection bg-primary clearfix">
    <span class="glyphicon glyphicon-user"></span>  Rolletype
    
</div>

<ul class="list-unstyled">


    @foreach (var item in Model)
    {
        <li>

            @Html.CheckBoxFor(modelItem => item.IsSelected, new { @class = "tagCheckbox", candidateId = @item.CandidateId, tagId = @item.TagId })

            @Html.DisplayFor(modelItem => item.ProfessionTag.Tag)

        </li>

    }

</ul>

<script>

</script>