﻿body {
    padding-top: 50px;
    padding-bottom: 5px;
    background-color:rgb(238, 238, 238);
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:5px;
}

div.topbar {
    top:0;
    left:0;
    min-height:50px;
    position:fixed;
    background-color:#222;
    z-index:1030;
    color:white;
    width:100%;
    overflow-y:auto;
}

div.navLogo {
    background-color:rgb(76, 175, 80);
    color:white;
    padding:10px 15px;
    height:50px;
}

div.navLogo h3 {
    margin:0px;
    color: #ffffff; 
}

div.navSearch{
    padding-top:10px;
}

div.navSearch input {
    max-width:none;
}


.nav li:last-of-type  {
    margin-right:15px;
    
}

a#back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: none;
    box-shadow:0 2px 2px -1px rgba(0,0,0,2);
    z-index:2000;
}


div.filterPanel{
    background-color:#fff;
    color:green;
    box-shadow:0 1px 2px -1px rgba(0,0,0,2);
    padding:0px;


}

div.filterHeaderSection{
    padding:10px 5px 10px 15px;
    border-bottom:1px solid rgb(238, 238, 238);
    color:rgb(33, 33, 33);
}

div.filterSection{
    padding:15px 5px 10px 15px;
    border-bottom:1px solid rgb(238, 238, 238);
    color:rgb(33, 33, 33);
    overflow-x:hidden;
   
}

div.searchContentPanel{
    background-color:#fff;
    padding:15px;
    box-shadow:0 1px 2px -1px rgba(0,0,0,2);
    overflow-y:hidden;
}

.padding-sm{
    padding-left:4px;
    padding-right:4px;
}

 div.editContainerPanel{
     background-color:#fff;
     color:#515151;
     box-shadow: 1px 1px 2px -1px  rgba(0,0,0,2);
     margin-left:-10px;
     margin-right:-10px;
     padding:15px;
     
 }

  div.EditPageSection {
     padding:2px 15px 2px 5px;
     font-weight:bold;
     font-family:Verdana;
     border-top-left-radius:5px;
     border-top-right-radius:5px;
     margin-bottom:5px;
     background-color:rgb(76, 175, 80);
     color:white;
     
 }

  .roundedBorder{
      border:1px solid #c5c5c5;
      border-radius:5px;
  }


  /*table sorter classes*/

/*table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}*/
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	/*background-color: #286090;
    color:white;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;*/
 
}
table.tablesorter thead tr th, table.tablesorter thead tr .header {
    
    padding-left:20px;
    background-repeat: no-repeat;
    background-position: center left;
    cursor: pointer;
}

 table.tablesorter thead tr .header {
    background-image: url('/Content/images/bg.gif');
}

/*table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}*/
/*table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
} */




table.tablesorter thead tr .headerSortUp {
	background-image: url('/Content/images/asc.gif');
}

table.tablesorter thead tr .headerSortDown {
    background-image: url('/Content/images/desc.gif');
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
color:#286090;

}

.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}


/*End of table sorter classes*/

 .highlight { background-color: orange;}

 .restrictedHeight{
    overflow-y:auto; 
    max-height:760px;
}
