﻿/*general modifiers*/

.minHeight100 {
    min-height: 100px;
}


body {
    padding-top: 50px;
    padding-bottom: 5px;
    background-color: rgb(238, 238, 238);

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 500px;
}


.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.padding-sm {
    padding-left: 4px;
    padding-right: 4px;
}

/*Page header bar at top*/

div.topbar {
    top: 0;
    left: 0;
    min-height: 50px;
    position: fixed;
    background-color: #222;
    z-index: 1030;
    color: white;
    width: 100%;
    overflow-y: auto;
}


div.navLogo {
    background-color: #286090;
    color: white;
    padding: 10px 15px;
    height: 50px;
}


    /*div.navLogo h3 {
    margin:0px;
    font-weight: 400;
}*/

    div.navLogo h3 {
        margin: 0px;
        color: #ffffff;
    }

div.navSearch {
    padding-top: 10px;
}

    div.navSearch input {
        max-width: none;
    }

div.navLinks {
    height: 50px;
}

    div.navLinks ul {
        list-style-type: none;
        margin-bottom: 0px;
        overflow: hidden;
        height: 50px;
    }

    div.navLinks li {
        float: right;
        padding-left: 10px;
        margin-left: 15px;
    }

        div.navLinks li a {
            padding-top: 15px;
            display: block;
            color: #9d9d9d;
            text-align: center;
            font-size: larger;
        }

            div.navLinks li a:hover {
                color: #fff;
                cursor: pointer;
                text-decoration: none;
            }

div.filterPanel {
    background-color: #fff;
    color: green;
    box-shadow: 0 1px 2px -1px rgba(0,0,0,2);
    padding: 0px;
    margin-bottom: 15px;
}

div.filterHeaderSection {
    padding: 10px 5px 10px 15px;
    border-bottom: 1px solid rgb(238, 238, 238);
    color: rgb(33, 33, 33);
}

div.filterSection {
    padding: 15px 5px 10px 15px;
    border-bottom: 1px solid rgb(238, 238, 238);
    color: rgb(33, 33, 33);
}

div.searchContentPanel {
    background-color: #fff;
    color: maroon;
    padding: 15px;
    box-shadow: 0 1px 2px -1px rgba(0,0,0,2);
}

.ui-tabs .ui-tabs-nav {
    background: white;
}


.ui-tabs .ui-tabs-active {
    background-color: #286090;
}

.ui-tabs .ui-widget-header {
    border-top: none;
    border-left: none;
    border-right: none;
}

a.blue a {
    color: blue;
}

#tabs li .ui-icon-close {
    float: left;
    margin: 8px 2px 0 -8px;
    cursor: pointer;
}

#tabs .badge {
    color: black;
    background-color: white;
    border-radius: 15px;
    font-weight: normal;
    font-size: smaller;
    padding: 3px 4px;
}

td a.templateLink {
    color: blue;
}


.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
}

a#back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: none;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,2);
    z-index: 2000;
}

div.ratingStars {
    color: orange;
}

    div.ratingStars .disabled {
        color: grey;
    }

hr.lessMargin {
    margin-top: 2px;
    margin-bottom: 5px;
}

/*table sorter classes*/

/*table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}*/
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    /*background-color: #286090;
    color:white;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;*/
}

table.tablesorter thead tr .header {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: center left;
    cursor: pointer;
}

table.tablesorter thead tr .header {
    background-image: url('/Content/images/bg.gif');
}

/*table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}*/
/*table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
} */




table.tablesorter thead tr .headerSortUp {
    background-image: url('/Content/images/asc.gif');
}

table.tablesorter thead tr .headerSortDown {
    background-image: url('/Content/images/desc.gif');
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    color: #286090;
}

/*End of table sorter classes*/

/* Add Edit CV*/

div.editContainerPanel {
    background-color: #fff;
    color: #515151;
    box-shadow: 1px 1px 2px -1px rgba(0,0,0,2);
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 20px;
}

div.EditPageSection {
    padding: 2px 15px 2px 5px;
    font-weight: bold;
    font-family: Verdana;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 5px;
}

.highlight {
    background-color: orange;
}


.notes {
    margin-top: 15px;
    list-style-type: none;
    padding: 0;
}

    .notes li {
        padding-bottom: 15px;
        padding-top: 5px;
        border-top: 1px solid #e4e6e8;
    }

.autocomplete-popup {  
    
    padding-top: 15px;
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
    
}

.latestOpened { 
   background-color:lightyellow !important;

}

table.table.table-striped tr.latestOpened td { 
 background-color:lightyellow !important;
}

.table-striped > tbody > tr:nth-child(odd).latestOpened > td { 
 background-color:lightyellow !important;
}


.restrictedHeight{
    overflow-y:auto; 
    max-height:760px;
}

#editCandidateContainer{
    width:1000px;
}

.attachmentTabPanel{
    padding-left:10px;
}

/* form jquery autocomplete */
.ui-autocomplete-loading { background:url('images/loading.gif') no-repeat right center;background-color:white; }

