﻿@model IEnumerable<CVApp2.Models.ZipCode>

@{ CVApp2.Models.City city  = new CVApp2.Models.City();}

<div id="ZipCodeContainer" class="container-fluid editContainerPanel restrictedHeight">

    <div class="row">

        <div class="col-md-12">
            

                @if (ViewBag.City != null)
                {
                    
                    city = ViewBag.City;
                    <text>  
                        <h3 style="padding-left:15px;">  Område : @city.Region.RegionName </h3>
                        <hr />
                        <h4 style ="padding-left:15px;"> by : @city.CityName</h4>
                 
                    </text>
                    
                }

            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6">


            <div class="EditPageSection bg-primary clearfix">
                <span class="glyphicon glyphicon-map-marker"></span>  post nummer

                @Ajax.ActionLink("Tilføj", "Create", "ZipCode", new { cityId = city.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-xs btn-success pull-right " })

            </div>



            <table class="table table-hover">


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ZipCodeNumber)

                        </td>
                        <td style="text-align:right; padding-right:15px;">
                            @Ajax.ActionLink("Rediger", "Edit", "ZipCode", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-sm" })


                            @Ajax.ActionLink("Slet", "Delete", "ZipCode", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-sm" })
                        </td>
                    </tr>
                }

            </table>
            <br />
            <hr />
            <a href="@Url.Action("Details", "Region", new { id = city.RegionId })" class="btn btn-default"> <span class="glyphicon glyphicon-triangle-left"></span>  Gå tilbage</a> 
        </div>
    </div>
</div>

<div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;"></div>


@section scripts {

    <script>

        $("#ajaxDialog").dialog({ autoOpen: false, modal: true, closeText: "", hide: "fadeOut", title: "post nummer", width: "auto", position: { my: "center top", at: "center top+175", collision: "fit" } });

        function showDialog(data) {
            $("#ajaxDialog").dialog("open");

        };

        function closeDialog() {
            $("#ajaxDialog").dialog("close");
        };

        function handleSuccessZipCode(data) {

            $("#ajaxDialog").dialog("close");
            location.href = "@Url.Action("Details","City", new {id= city.Id } )";
        };

        function handleError(ajaxContext) {

            $("#ajaxDialog").html(ajaxContext.responseText);
        };

    </script>
}
