﻿@model IEnumerable<CVApp2.Models.City>

<div class="container-fluid editcontainerpanel">

    <div class="row">

        <div class="col-md-12">
            <h3 style="padding-left:15px;">

                @if (ViewBag.RegionName != null)
                {
                    CVApp2.Models.Region RegionName = ViewBag.RegionName;
                    <text> @RegionName.RegionName </text>

                }

            </h3>

            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div id="CityContainer">

                @Ajax.ActionLink("Add", "Create", "City", new { }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-xs btn-success pull-right " })

                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CityName)
                        </th>
                        <th>
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CityName)

                            </td>
                            <td style="text-align:right; padding-right:15px;">
                                @Ajax.ActionLink("Edit", "Edit", "City", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-sm" })

                                @Html.ActionLink("Details", "Details", "City", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })

                                @Ajax.ActionLink("Delete", "Delete", "City", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "handleSuccessCity" }, new { @class = "btn btn-default btn-sm" })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>