﻿@model IEnumerable<CVApp2.Models.ProfessionTag>

@{
    ViewBag.Title = "Index";
}

 @section scripts {

    <script>

        $("#ajaxDialog").dialog({ autoOpen: false, modal: true, closeText: "", hide: "fadeOut", title: "Rolletype", width: "auto", position: { my: "center top", at: "center top+175", collision: "fit" } });

        function showDialog(data) {
            $("#ajaxDialog").dialog("open");

        };

        function closeDialog() {
            $("#ajaxDialog").dialog("close");
        };

        function handleSuccessErthverv(data) {
            $("#ajaxDialog").dialog("close");
            location.href = "@Url.Action("Index","ProfessionTags")";

        };

        function handleError(ajaxContext) {

            $("#ajaxDialog").html(ajaxContext.responseText);
        };

    </script>
}

<div id="ErthvervContainer" class="container-fluid editContainerPanel">
    <div class="row">
        <div class="col-md-12">
            <h3 style="padding-left:15px;"> Rolletype</h3>

            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6">

            <div class="EditPageSection bg-primary clearfix">
                <span class="glyphicon glyphicon-user"></span>  Rolletype

                @Ajax.ActionLink("Tilføj", "Create", new { }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-xs btn-success pull-right " })

            </div>

            <table class="table table-hover">

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tag)
                        </td>
                        <td style="text-align:right; padding-right:15px;">
                            @Ajax.ActionLink("Rediger", "Edit", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-sm" })
                            @Ajax.ActionLink("Slet", "Delete", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-sm" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

<div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;"></div>