﻿@model CVApp2.Models.Document

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_KnowledgeLayout.cshtml";

}
<form action="" method="post" enctype="multipart/form-data">
    <div class="editContainerPanel restrictedHeight">
        <div style="padding-bottom:100px;">
            <h3><span class="glyphicon glyphicon-plus"></span> Dokument</h3>
            <hr />
            <div class="row">
                <div class="col-md-5 col-md-offset-1">


                    @using (Html.BeginForm())
                {
                        @Html.AntiForgeryToken()


                        <div class="EditPageSection bg-success">Dokument Detaljer</div>

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            @Html.HiddenFor(model => model.DocumentGroupId, new { id = "documentGroupId" })

                            <div class="form-group">
                                @Html.Label("Dokument Gruppe", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="form-control" style="height:auto;">
                                        @Html.Action("GroupTree", "DocumentGroup")
                                        @Html.ValidationMessageFor(model => model.DocumentGroupId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.Label("Vælg Dokument", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input type='file' id="file" name="FileName" class="form-control" required>
                                </div>
                            </div>

                            <hr />

                            <div class="form-group">
                                @Html.Label("JNr", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.JNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.JNo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Dato", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.JDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                    @Html.ValidationMessageFor(model => model.JDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <hr />


                            <div class="form-group">
                                @Html.Label("Sendt til offentliggørelse", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ReleasedForPublication, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ReleasedForPublication, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <hr />

                            <div class="form-group">
                                @Html.Label("Karnov nr", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.KarnovNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.KarnovNo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Off Karnov dato", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.KarnovDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                    @Html.ValidationMessageFor(model => model.KarnovDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <hr />

                            <div class="form-group">
                                @Html.Label("TBB nr", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TBBNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TBBNo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Off.TBB dato", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TBBDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                    @Html.ValidationMessageFor(model => model.TBBDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <hr />

                            <div class="form-group">
                                @Html.Label("Voldgiftsrettens sammensætning", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.ArbitrationCourtComposition, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ArbitrationCourtComposition, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Resume", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Summary, new { @class = "form-control", @rows = 5})
                                    @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.Label("Bemærkninger", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Comments, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <hr />

                            <div class="form-group">
                                @Html.Label("Tag", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Tags, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <hr />

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Gem" class="btn btn-success" />
                                </div>
                            </div>

                        </div>
                }



                </div>
            </div>

        </div>

    </div>
</form>
@section scripts{
    <script>
        $(function () {
            $("#groupTree").jstree({
                "checkbox": { "three_state": false },
                "core": {
                    "multiple": false,
                    "themes": {
                        "variant": "large"
                    }
                },
                "plugins": ["wholerow", "checkbox"]
            })
            .on("changed.jstree",
     function (evt, data) {

         var i, j;
         $("#documentGroupId").val(0);
         for (i = 0, j = data.selected.length; i < j; i++) {
             var node_id = (data.instance.get_node(data.selected[i]).id);
             $("#documentGroupId").val(($("#" + node_id).attr("data-value")));

         }
     }
);
            $('.datepicker').datepicker( {dateFormat: 'mm/dd/yy' } );

        })
    </script>
}
