﻿@model CVApp2.Models.Document

@{
    ViewBag.Title = "Delete";
}
<div >

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleDeleteSuccess", OnFailure = "handleError" }))
    {
        @Html.AntiForgeryToken()

        <div class="">
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            @Html.HiddenFor(model => model.DocumentGroupId)
            @Html.HiddenFor(model => model.ServerFileName)
            @Html.HiddenFor(model => model.FileName)

            <div class="form-group">
                <div class="col-md-1">
                    <span style="font-size:32px;" class="text-danger glyphicon  glyphicon-question-sign"></span> 
                </div>
                <div class="col-md-11">
                    <h4  >Er du sikker på du vil slette dokumentet ? </h4>
                    <p style="font-size:larger;"  > @Html.ValueFor(model => model.FileName)</p>
                    <br /><br />
                </div>
            </div>

            

            <div class="">
                <div class="col-md-offset-2 col-md-10">
                    <button value="Delete" class="btn btn-primary "><span class="glyphicon glyphicon-ok"></span> Ja </button>
                    <input type="button" value="Nej" class="btn btn-default"  id="diagCloseBtn" onclick="closeDialog();" />
                   
                </div>
            </div>
            
        </div>
    }
</div>



