﻿@model IEnumerable<CVApp2.Models.Document>

@section Scripts{


    <script>
        function Copypath(id, files) {

            var newid = "#tab" + id;
            var params = JSON.stringify({
                id: id,
                file: files
            });

            $.ajax({
                type: "POST",
                url: "/Document/Copypath",
                data: params,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess1,
                failure: function (response) {
                    alert('Oops! something went wrong, failure: ' + response.d);
                },
                error: function (response) {
                    if (response.statusText == 'abort') {
                        return;
                    }
                    alert('Oops! something went wrong, error: ' + response);
                }
            });

        }

        function OnSuccess1(response) {
            var resumes = response;
            //alert("Kopied");
        }

    </script>

    }

<table class="table table-striped  table-hover tablesorter">
    <thead>
        <tr>
            <th>
                Group
            </th>
            <th>
                Document
            </th>
            <th>
                Tags
            </th>
            <th>
                Date Created
            </th>
            <th style="text-align:center;">
                Kopier
            </th>

            <th></th>
        </tr>


    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentGroup.Name)
            </td>
            <td>
                <a href="/Document/ShowDocument?id=@item.Id&file=@item.ServerFileName" target="_blank">
                    @Html.DisplayFor(modelItem => item.FileName)
                </a>
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td width="125px">
                @item.Created.Date.ToShortDateString()
            </td>
            <td style="text-align:center;">
                <a class="templateLink" style="color:black;" href="/Document/copypath?id=@item.Id&file=@item.ServerFileName"><span class="glyphicon glyphicon-copy"></span> </a>
             
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @Ajax.ActionLink("Delete", "Delete", "Document", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" })
            </td>
        </tr>
    }

</table>
