﻿@model CVApp2.Models.Candidate



@using (Ajax.BeginForm(new AjaxOptions{OnSuccess="editSuccessHandler", OnFailure = "editFailureHandler" }))
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group" >
            <div class="col-md-9">
                @{string saveText = ViewContext.RouteData.GetRequiredString("action") == "Edit" ? "Gem" : "Gem & Næste"; }
                <input type="submit" value='@saveText' class="btn btn-primary" />
                <input type="button" value="Luk" class="btn btn-default" id="diagCloseBtn" onclick='editDialogClose();' />

            </div>
        </div>

        <hr />


        <div class="EditPageSection bg-primary">
            <span class="glyphicon glyphicon-log-in"></span> Identity
        </div>

        <div class="form-group">
            @Html.Label("Fornavn", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            @Html.Label("Mellemnavn", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Efternavn", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Id", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.RegistrationId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RegistrationId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="EditPageSection bg-primary">
            <span class="glyphicon glyphicon-briefcase"></span> Aktuel Professional Detaljer
        </div>

        <div class="form-group">
            @Html.Label("Firma", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Title", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="EditPageSection bg-primary">
            <span class="glyphicon glyphicon-phone"></span> Kontaktoplysninger
        </div>

        <div class="form-group">
            @Html.Label("Telefon (Hjem)", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.PhoneHome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneHome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Telefon(Arbejde)", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.PhoneWork, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneWork, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Mobil", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.PhoneMobile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneMobile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Fax", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Hjemmeside", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="EditPageSection bg-primary">
            <span class="glyphicon glyphicon-map-marker"></span> Adresse
        </div>

        <div class="form-group">
            @Html.Label("Addresse", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Post nummer", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Zipcode, new { htmlAttributes = new { @class = "form-control", id = "zipCode" } })
                @Html.ValidationMessageFor(model => model.Zipcode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="regionDetailsContainer">
        </div>

        <div class="EditPageSection bg-primary">
            <span class="glyphicon glyphicon-blackboard"></span> Andre oplysninger
        </div>


        <div class="form-group">
            @Html.Label("Kompetencer", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", Styles = "width:100%;", rows="4" })
                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.Label("Active", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <div class="checkbox">
                    @Html.EnumDropDownListFor(model => model.Status, new { htmlAttributes = new { style = "margin-left:5px;" } })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Rating", htmlAttributes: new { @class = "control-label col-md-3" })
           
            <div class="col-md-9">
                <div id="ratingDiv">

                    <p>
                        @for (int i = 1; i <= 5; i++)
                        {
                            if (i <= Model.Ratings)
                            {
                                <img src="../../Content/images/FilledStar.png" alt="Star Rating" align="middle" ratingval="@i" />

                            }
                            else
                            {
                                <img src="../../Content/images/EmptyStar.png" alt="Star Rating" align="middle" ratingval="@i" />

                            }
                        }

                    </p>

                    @Html.HiddenFor(model => model.Ratings, new { id = "rateid" })
                </div>


                @Html.ValidationMessageFor(model => model.Ratings, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Type", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9" style="padding-top:6px">
            
                    @Html.CheckBoxFor(model => model.Bygherre) <span style="margin-right:10px;"> Bygherre </span>
                    @Html.ValidationMessageFor(model => model.Bygherre, "", new { @class = "text-danger" })
                
             
                    @Html.CheckBoxFor(model => model.Rådgiver) <span style="margin-right:10px;"> Rådgiver </span>
                    @Html.ValidationMessageFor(model => model.Rådgiver, "", new { @class = "text-danger" })

                    @Html.CheckBoxFor(model => model.Entreprenør) <span style="margin-right:10px;"> Entreprenør </span>
                    @Html.ValidationMessageFor(model => model.Entreprenør, "", new { @class = "text-danger" })
              
            </div>
        </div>

        <hr />

        


    </div>

}

