﻿        @model CVApp2.Models.Candidate

@{
    ViewBag.Title = "Create";
}

@section scripts {
    <script>
       
        $("#registrationId").autocomplete({
            autoFocus: true,
            delay: 500,
            minLength: 1,
            source: "CustomersFromSharepoint",
            response: function (event, ui) { $("#registrationId").removeClass("ui-autocomplete-loading"); },
            select: function (event, ui) {
                fillData(ui.item.value);
            }

        });

        function fillData(regNumber) {
            $.getJSON("CustomerFromSharepoint",
                { registrationNumber: regNumber }, function (data) {
                   
                    $("#firstName").val(data.FirstName);
                    $("#middleName").val(data.MiddleName);
                    $("#lastName").val(data.LastName);
                    $("#company").val(data.Company);
                    $("#designation").val(data.Designation);
                    $("#phoneWork").val(data.PhoneWork);
                    $("#phoneMobile").val(data.PhoneMobile);
                    $("#fax").val(data.Fax);
                    $("#website").val(data.Website);
                    $("#email").val(data.Email);
                    $("#address").val(data.Address);
                    $("#zipcode").val(data.Zipcode);
                   
                    getAddressDetails(data.Zipcode);
                }

                )

            
        }


        $(function () {
            
            $("#zipcode").on('input', function (e) {
                getAddressDetails($(this).val());
            });


        });


        function getAddressDetails(zipcode) {
            
            $.ajax({
                type: "GET",
                url: "/Region/ZipCodeDetails",
                data: { zipcodestr: zipcode },
                success: function (response) {
                    $("#regionDetailsContainer").html(response);
                },
                failure: function (response) {
                    alert('Oops! something went wrong, failure: ' + response.d);
                },
                error: function (response) {
                    if (response.statusText == 'abort') {
                        return;
                    }
                    alert('Oops! something went wrong, error: ' + response);
                }
            });
        }


        $(function () {
            $("img").mouseover(function () {
                $(this).css("cursor", "pointer");
            });

            $("img").mouseout(function () {
                $(this).css("cursor", "default");
            });

            $("img").click(function () {
                $("img").unbind("mouseout mouseover");

                giveRating($(this), parseInt($(this).attr("ratingVal")));

            });
        });


        function giveRating(img, ratingVal) {

            for (i = 1; i <= ratingVal; i++) {

                img.attr("src", "/Content/images/FilledStar.png").prevAll("img").attr("src", "/Content/images/FilledStar.png");
                img.attr("src", "/Content/images/FilledStar.png").nextAll("img").attr("src", "/Content/images/EmptyStar.png");

            }
            var ratings = ratingVal;
            $("#rateid").val(ratings);

        }
      
        function editSuccessHandler(response) {
            var containerId = "#detailsContainer" + response;
            $(containerId).load("/CV/Details/" + response);
            $("#editCandidateContainer").dialog("close");
        }

        function editFailureHandler(response) {
            $("#editCandidateContainer").html(response.responseText);
        }


    </script>
    }
<div class="container-fluid editContainerPanel">
    <div class="row">
        <div class="col-md-12">
            <h3 style="padding-left:15px;"><span class="glyphicon glyphicon-plus"></span> Opret ny CV</h3>

            <hr />
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">

     
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <div class="col-md-9">
                            @{string saveText = ViewContext.RouteData.GetRequiredString("action") == "Edit" ? "Gem" : "Gem & Næste"; }
                            <input type="submit" value='@saveText' class="btn btn-primary" />
                            @Html.ActionLink("Luk", "Index", null, new { @class = "btn btn-primary" })

                        </div>
                    </div>

                    <hr />


                    <div class="EditPageSection bg-primary">
                        <span class="glyphicon glyphicon-log-in"></span> Identity
                    </div>

                    <div class="form-group">
                        @Html.Label("Id", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.RegistrationId, new { htmlAttributes = new { @class = "form-control", id="registrationId" } })
                            @Html.ValidationMessageFor(model => model.RegistrationId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Fornavn", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control",id="firstName" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Mellemnavn", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control", id = "middleName" } })
                            @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Efternavn", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", id="lastName" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                   

                    <div class="EditPageSection bg-primary">
                        <span class="glyphicon glyphicon-briefcase"></span> Aktuel Professional Detaljer
                    </div>

                    <div class="form-group">
                        @Html.Label("Firma", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control", id="company" } })
                            @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Title", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control", id="designation" } })
                            @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="EditPageSection bg-primary">
                        <span class="glyphicon glyphicon-phone"></span> Kontaktoplysninger
                    </div>

                    <div class="form-group">
                        @Html.Label("Telefon (Hjem)", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.PhoneHome, new { htmlAttributes = new { @class = "form-control", id="phoneHome" } })
                            @Html.ValidationMessageFor(model => model.PhoneHome, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Telefon(Arbejde)", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.PhoneWork, new { htmlAttributes = new { @class = "form-control", id="phoneWork" } })
                            @Html.ValidationMessageFor(model => model.PhoneWork, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Mobil", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.PhoneMobile, new { htmlAttributes = new { @class = "form-control", id="phoneMobile" } })
                            @Html.ValidationMessageFor(model => model.PhoneMobile, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Fax", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control", id="fax" } })
                            @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Hjemmeside", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control", id="website" } })
                            @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", id="email" } })

                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="EditPageSection bg-primary">
                        <span class="glyphicon glyphicon-map-marker"></span> Adresse
                    </div>

                    <div class="form-group">
                        @Html.Label("Addresse", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", id="address" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Post nummer", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Zipcode, new { htmlAttributes = new { @class = "form-control", id = "zipcode" } })
                            @Html.ValidationMessageFor(model => model.Zipcode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div id="regionDetailsContainer">
                    </div>

                    <div class="EditPageSection bg-primary">
                        <span class="glyphicon glyphicon-blackboard"></span> Andre oplysninger
                    </div>


                    <div class="form-group">
                        @Html.Label("Kompetencer", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", Styles = "width:100%;", rows = "4" })
                            @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        @Html.Label("Active", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <div class="checkbox">
                                @Html.EnumDropDownListFor(model => model.Status, new { htmlAttributes = new { style = "margin-left:5px;" } })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.Label("Rating", htmlAttributes: new { @class = "control-label col-md-3" })

                        <div class="col-md-9">
                            <div id="ratingDiv">

                                <p>
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if (i <= Model.Ratings)
                                        {
                                            <img src="../../Content/images/FilledStar.png" alt="Star Rating" align="middle" ratingval="@i" />

                                        }
                                        else
                                        {
                                            <img src="../../Content/images/EmptyStar.png" alt="Star Rating" align="middle" ratingval="@i" />

                                        }
                                    }

                                </p>

                                @Html.HiddenFor(model => model.Ratings, new { id = "rateid" })
                            </div>


                            @Html.ValidationMessageFor(model => model.Ratings, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Type", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9" style="padding-top:6px">

                            @Html.CheckBoxFor(model => model.Bygherre) <span style="margin-right:10px;"> Bygherre </span>
                            @Html.ValidationMessageFor(model => model.Bygherre, "", new { @class = "text-danger" })


                            @Html.CheckBoxFor(model => model.Rådgiver) <span style="margin-right:10px;"> Rådgiver </span>
                            @Html.ValidationMessageFor(model => model.Rådgiver, "", new { @class = "text-danger" })

                            @Html.CheckBoxFor(model => model.Entreprenør) <span style="margin-right:10px;"> Entreprenør </span>
                            @Html.ValidationMessageFor(model => model.Entreprenør, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <hr />




                </div>

            }



        </div>
        <div class="col-md-6">
           
        </div>
    </div>

</div>
