﻿@using CVApp2.Models
@model CVApp2.Models.Candidate

@{
    ViewBag.Title = "Details";
}

<div class="detailsContainer " id="detailsContainer@(Model.Id)">


    <div class="row">
        <div class="col-md-6">

            <h3 id="deletedMessage@(Model.Id)" class="text-danger text-center hidden"><span class="glyphicon glyphicon-warning-sign"></span> <mark>Denne post er blevet slettet</mark></h3>

            <label style="padding-right:15px;">Id <a href="@Model.CUrl.Replace("{0}", @Model.RegistrationId)" target="_blank" style="color:blue;"> @Model.RegistrationId </a> </label>





            @if (@Model.Status == CandidateStatus.Active)
            {
            <label>Status <span class="label label-success"> Active </span> </label>
            }
            else if (@Model.Status == CandidateStatus.Passive)
            {
            <label>Status <span class="label label-warning"> Passive </span> </label>
            }
            else
            {
                <label>Status <span class="label label-danger"> @Model.Status </span> </label>
            }

            

        </div>

        <div class="col-md-6 text-right">


            @*<a href="@Url.Action("Edit", "CV", new { id = Model.Id })" class="btn btn-primary btn-sm editButton " style="color:white;"><span class="glyphicon glyphicon-edit"></span> Rediger</a>*@

            @Ajax.ActionLink("Edit", "Edit", new { id = Model.Id }, new AjaxOptions { UpdateTargetId = "editCandidateContainer", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showEditContainer" }, new { @class = "btn btn-default btn-sm" })




            @Ajax.ActionLink("Slet", "Delete", new { id = Model.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-sm" })
        </div>
    </div>
    <hr class="lessMargin" />

    <div class="row">
        <div class="col-md-6">

            <h3>@Model.FirstName @Model.MiddleName @Model.LastName</h3>

            <div class="ratingStars">
                @for (int i = 1; i <= 5; i++)
                {
                    if (i <= Model.Ratings)
                    {
                <i class="glyphicon glyphicon-star "></i>
                    }
                    else
                    {
                <i class="glyphicon glyphicon-star disabled"></i>
                    }
                }
            </div>

            <label> <span class="text-primary"> @Model.Designation </span></label> <br />
            <label>@Model.Company</label>
            <br />
            <br />

            <strong> <span class="glyphicon glyphicon-earphone"> </span> Kontakt</strong>
            <hr class="lessMargin" />
            <table>
                <tr>
                    <td width="125px">Email</td>
                    <td><a href="mailto:@Model.Email"> @Model.Email </a></td>
                </tr>
                <tr>
                    <td>Telefon (Hjem)</td>
                    <td>@Model.PhoneHome</td>
                </tr>
                <tr>
                    <td>Telefon(Arbejde)</td>
                    <td>@Model.PhoneWork</td>
                </tr>
                <tr>
                    <td>Mobil</td>
                    <td>@Model.PhoneMobile</td>
                </tr>

                <tr>
                    <td>Fax</td>
                    <td>@Model.Fax</td>
                </tr>
                <tr>
                    <td>Hjemmeside </td>
                    <td><a href="http://www.google.com"> @Model.Website </a> </td>
                </tr>
            </table>

            <br />
            <strong> <span class="glyphicon glyphicon-map-marker"> </span> Addresse</strong>
            <hr class="lessMargin" />
            <table>
                <tr>
                    <td width="125px">Addresse</td>
                    <td>@Model.Address</td>
                </tr>

                <tr>
                    <td>by</td>
                    <td>@Model.City</td>
                </tr>

                <tr>
                    <td>Område</td>
                    <td>@Model.Region</td>
                </tr>

                <tr>
                    <td>post nummer</td>
                    <td>@Model.Zipcode</td>
                </tr>



            </table>

            <br />
            <strong> <span class="glyphicon glyphicon-map-marker"> </span> Foretrukne Område</strong>
            <hr class="lessMargin" />
            <div>@Model.Region</div>
            @foreach (var region in Model.PreferredRegions)
            {

                if (Model.Region != region.Region.RegionName)
                {
                    <div>@region.Region.RegionName</div>
                }
            }


            <br />
            <strong> <span class="glyphicon glyphicon-paperclip"> </span> Vedhæftet fil</strong>
            <hr class="lessMargin" />
            @{int index = 0;}
            @foreach (var file in Model.CandidateFiles)
            {

                <div>
                    <a href=" " id="fileLink_@Model.Id@index" target="_blank" style="color:blue;" onclick="showAttachment(@Model.Id,@index)">@file</a>
                </div>
                index++;
            }

            <br />
            <strong> <span class="glyphicon glyphicon-calendar"> </span> Datoer</strong>
            <hr class="lessMargin" />
            <table>
                <tr>
                    <td width="125px">lavet</td>
                    <td>@Model.Created.ToLongDateString()</td>
                </tr>

                <tr>
                    <td>Opdateret</td>
                    <td>@Model.LastUpdated.ToLongDateString()</td>
                </tr>
            </table>

</div>
        <div class="col-md-6">
            <br />
            <strong> <span class="glyphicon glyphicon-pencil"> </span> Fag</strong>
            <hr class="lessMargin" />
            @foreach (var skill in Model.Skills)
            {
                <div>@skill</div>
            }

            <br />
            <strong> <span class="glyphicon glyphicon-user"> </span> Rolletype</strong>
            <hr class="lessMargin" />
            @foreach (var Tags in Model.ProfessionTags)
            {
                <div>@Tags</div>
            }

            <br />
            <strong> <span class="glyphicon glyphicon-list-alt"> </span> Kompetencer</strong>
            <hr class="lessMargin" />
            <p style="margin-right:40px;">
                @Model.Notes
            </p>
            <br />

            <strong> <span class="glyphicon glyphicon-comment"> </span> Noter</strong>
            <hr class="lessMargin" />


            <div id="noteTextBox@(Model.Id)" class="minHeight100">
                @{Html.RenderAction("Create", "CandidateNotes", new { candidateId = Model.Id });}
            </div>


            <div id="notesList@(Model.Id)" class="minHeight100">
                @*Notes here*@


            </div>

            <script>
                $.ajax({
                    type: "GET",
                    url: "/CandidateNotes/CandidateNotes",
                    data: { candidateId: @Model.Id },
                    cache:false,
                    success: function (response) {
                        RefreshNotes(response)
                    },
                    failure: function (response) {
                        alert('Oops! something went wrong, failure: ' + response.d);
                    }});
            </script>

        </div>

    </div>

    <script>



        function RefreshNotes(data)
        {
            var candidateId=data.CandidateId;


            var listHtml="<ul class='notes' > ";


            $.each(data.Notes,function(i,Note) {
                listHtml+="<li> <span style='color:grey'> " + (new Date(parseInt(Note.Date.substr(6)))).toLocaleDateString() + " </span>  - <span class='text-primary'>" + Note.UserName + " </span> - " +Note.Note + " <small style='color:grey;padding-left:15px;'> <a href=" + 'javascript:deleteComment(' + Note.Id + ")> <span class='glyphicon glyphicon-trash'></span> </a> </small> </li>"


            });
            listHtml+=" </ul>"


            var noteContainer="#notesList"+candidateId
            $(noteContainer).html(listHtml);

            var noteTextbox="#noteTextBox"+candidateId + " #Note";

            $(noteTextbox).val('');
        }

        function handleSuccessCandidateNotes(data) {
            RefreshNotes(data);
        };

        function handleError(ajaxContext) {
            alert("error");
        };

        function deleteComment(id) {

            $.ajax({
                type: "POST",
                url: "/CandidateNotes/Delete",
                data: {id:id },
                dataType: "json",
                success: function (response) {
                    RefreshNotes(response)
                },
                failure: function (response) {
                    alert('Oops! something went wrong, failure: ' + response.d);
                }
            });

        }



    </script>



</div>
<div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;"></div>

<script src="~/Scripts/ViewScripts/cv-details.js"></script>

<script>



    $("#ajaxDialog").dialog({ autoOpen: false, modal: true, closeText: "", hide: "fadeOut", title: "CVApp", width: "auto", position: { my: "center top", at: "center top+175", collision: "fit" } });



    function showDialog(data) {

        $("#ajaxDialog").dialog("open");

    };

    function closeDialog() {
        $("#ajaxDialog").dialog("close");
    };

    function handleSuccessPerson(data) {
        $("#ajaxDialog").dialog("close");
        //location.href = "@Url.Action("Index","CV")";

    };


    function handleDeleteSuccess(response){
        $("#ajaxDialog").dialog("close");
        
        $("#deletedMessage"+response).removeClass("hidden");
        
    }

    function handleError(ajaxContext) {
        $("#ajaxDialog").html("Invalid Data");
        showDialog();
    };

    function showAttachment(id,index)
    {

        var linkSelector="#fileLink"+"_"+id+index;

        var filename= $(linkSelector).text();

        $(linkSelector).attr("href", "/CV/ShowAttachment?id="+ id+ "&filename=" + btoa(encodeURIComponent(filename)) );
    };

</script>




