﻿@model CVApp2.Models.Candidate

@{
    ViewBag.Title = "Create";
}


<div class=" editContainerPanel"  >
    
    <div id="contentRow" class="row">
        <div class="col-sm-4 col-md-4">

            @{Html.RenderPartial("AddEditCVPartial", Model);}

        </div>
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-6 col-md-6">
            <div id="preferredRegionsContainer" class="minHeight100">
                @{Html.RenderAction("CandidateRegions", "PreferredRegions", new { candidateId = Model.Id });}
            </div>

            <div id="tagsContainer" class="minHeight100">
                @{Html.RenderAction("CandidateTags", "CandidateTag", new { candidateId = Model.Id });}
            </div>

            <div id="skillsContainer" class="minHeight100">
                @{Html.RenderAction("CandidateSkills", "CandidateSkill", new { candidateId = Model.Id });}
            </div>

            <div class="EditPageSection bg-primary clearfix">
                <span class="glyphicon glyphicon-paperclip"></span> Vedhæftet fil

                <button id="addAttachmentBtn" onclick="attachmentFileClick()" class="btn btn-xs btn-success pull-right">Tilføj</button>
                <input name="uploadedFiles" type="file" id="addAttachmentFileInput" class="file" style="opacity:0;height:1px;" />

            </div>

            <div id="filesContainer" class="minHeight100">
                @{Html.RenderAction("CandidateFiles", "CandidateFiles", new { candidateId = Model.Id });}
            </div>


        </div>

    </div>



</div>

<div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;"></div>
<script>
    var candidateId=@Model.Id;

</script>
<script src="~/Scripts/ViewScripts/cv-edit.js"></script>