﻿@using CVApp2.Models
@model CVApp2.ViewModels.SearchVM

@{
    ViewBag.Title = "CV Søg";
}

@section Scripts{

    <script src="~/Scripts/ViewScripts/cv-index.js"></script>


    <script>



        var searchPage = true;
        var lastRequest;

        $(function () {


            $(".tablesorter").tablesorter({
                sortReset: true,
                sortRestart: true,
                sortInitialOrder: 'desc',
                headers:{
                    8 : { sorter: false},
                    9 : { sorter: false},
                    10 : { sorter: false}
                }

            });


            var tabs = $("#tabs").tabs({
                beforeActivate: function(event, ui) {
			
                    var tabId=ui.oldPanel.attr('id');
                    var scrollpos=$("#tabContainerRestricted").scrollTop();
			
                   
			
                    if(scrollpos>0 && tabId=="tabs-list")
                        $(this).data('scrollTop', scrollpos); // save scrolltop
                },
                activate: function(event, ui) {
		
                    var tabId=ui.newPanel.attr('id');
                    var scrollpos=$("#tabContainerRestricted").scrollTop();

                    
			
                    if ($(this).data('scrollTop') && tabId=="tabs-list" ) {
                        
                        $("#tabContainerRestricted").scrollTop($(this).data('scrollTop'));
                    }
                },
                beforeLoad: function (event, ui) {

                    if (ui.tab.data("loaded")) {

                        event.preventDefault();
                        return;
                    }

                }
                ,
                load: function (event, ui) { ui.tab.data("loaded", true); }
            });

            tabs.on("click", "span.ui-icon-close", function () {
                var panelId = $(this).closest("li").remove().attr("aria-controls");
                $("#" + panelId).remove();
                tabs.tabs("refresh");
            });


            $(".regionFilterItem").change(function () {
                
                startSearch();
            });

            $(".tagFilterItem").change(function () {
                if($(this).attr("tagid")==-1){
                    $(".tagFilterItem").not(".none").each(function () {
                        $(this).prop('checked', false);
                    });
                }
                else{
                    $(".tagFilterItem.none").prop('checked', false);
                }


                startSearch();

            });



            $(".skillFilterItem").change(function () {
                startSearch();
                if ($(this).is(":checked")) {
                    //$(this).parent().effect("puff");
                    $(this).parent().prependTo($(".skillList")).effect('highlight');;
                };
            });


            $(".statusItem").change(function () {
                startSearch();
            });


            $(".dateItem ").change(function () {
                
                startSearch();
            });


            $("#dateType").change(function(){
                
                if($(".dateItemFrom").is(":checked") || $(".dateItemTo").is(":checked") ) {
                    startSearch();
                }

            });

            $("#fromDate").change(function () {
                
                $(".dateItemFrom").prop('checked', true)
                startSearch();
            });


            $("#toDate").change(function () {
                
                $(".dateItemTo").prop('checked', true)
                startSearch();
            });



            $("#certigoaFilterClearAll").click(function () {

                $(".regionFilterItem").each(function () {

                    if ($(this).attr("autocheck") ) {

                        $(this).prop('checked', true);
                    }
                    else
                    {
                        $(this).prop('checked', false);
                    }
                });

                $(".tagFilterItem").each(function () {
                    $(this).prop('checked', false);
                });

                $(".skillFilterItem").each(function () {
                    $(this).prop('checked', false);
                });

                $("#certigoaSearchBox").val('');


                $(".statusItem").each(function(){
                    $(this).prop('checked',false);
                });

                $("#ActiveStatusItem" ).prop('checked',true);



                $(".dateItem").each(function () {
                    $(this).prop('checked', false);
                });

                startSearch();
            });



            $("#regionClearAll").click(function () {

                $(".regionFilterItem").each(function () {
                    $(this).prop('checked', false);
                });
                startSearch();
            });

            $("#regionSelectAll").click(function () {

                $(".regionFilterItem").each(function () {
                    $(this).prop('checked', true);
                });
                startSearch();
            });

            $("#professionClearAll").click(function () {

                $(".tagFilterItem").each(function () {
                    $(this).prop('checked', false);
                });
                startSearch();
            });

            $("#skillClearAll").click(function () {

                $(".skillFilterItem").each(function () {
                    $(this).prop('checked', false);
                });
                startSearch();
            });


            $("#searchRegionText").on('input', clearRegionFilterList);


            $("#clearSearchText").click(function () {
                $("#searchRegionText").val("");
                clearRegionFilterList();
            });


            $("#searchProfessionText").on('input', clearProfessionFilterList);

            $("#clearProfessionText").click(function () {
                $("#searchProfessionText").val("");
                clearProfessionFilterList();
            });



            $("#searchSkillText").on('input', clearSkillFilterList);

            $("#clearSkillText").click(function () {
                $("#searchSkillText").val("");
                clearSkillFilterList();
            });


            $("#regionLessLink").click(function () { $(".regionList div:gt(9)").hide(); updateRegionShowMore(); });
            $("#regionLessLink").trigger('click');
            $("#regionMoreLink").click(function () { $("#searchRegionText").val(""); $(".regionList div").show(); updateRegionShowMore(); });

            $("#professionLessLink").click(function () { $(".professionList div:gt(9)").hide(); updateProfessionShowMore(); });
            $("#professionLessLink").trigger('click');
            $("#professionMoreLink").click(function () { $("#searchProfessionText").val(""); $(".professionList div").show(); updateProfessionShowMore(); });

            $("#skillLessLink").click(function () { $(".skillList div:gt(9)").hide(); updateSkillShowMore(); });
            $("#skillLessLink").trigger('click');
            $("#skillMoreLink").click(function () { $("#searchSkillText").val(""); $(".skillList div").show(); updateSkillShowMore(); });

            
            $('#fromDate').datepicker("setDate", "-7");
            $('#toDate').datepicker("setDate", "0");

            

            @if (ViewBag.DisplayedCandidate != null)
	        {

                CVApp2.Models.Candidate displayedCandiate=ViewBag.DisplayedCandidate;
                <text> AddTab(@displayedCandiate.Id, '@displayedCandiate.FirstName @displayedCandiate.LastName'); </text>
	        }
            

            if($("#everSearched").val()!="")
            {
                
                startSearch();
            }

        });


        var opts = {
            defaultDate: "+7",
            setDate: "0",
            changeMonth: true,
            numberOfMonths: 1,
            altFormat: "yy-mm-dd",
            dateFormat: "d-mm-yy"
        };

        $('#fromDate').datepicker(
          $.extend({
              altField: "#_fromDate"
          }, opts)
        );


        $("#toDate").datepicker(
            $.extend({ altField: "#_toDate" }, opts)
        );


        function setHREF(id)
        {
            alert("cmon " + id);
            return true;
        }

        function showAttachmentPDF(id)
        {
            var linkSelector="#fileLink"+id;
            $("#resumeList tr").removeClass("latestOpened");
            $(linkSelector).closest('tr').addClass('latestOpened');

            var selector="#fileSelect"+id + " :selected";

            var filename=$(selector).val();

            $(linkSelector).attr("href", "/CV/ShowAttachment?id="+ id+ "&filename=" + btoa(encodeURIComponent(filename)) );

            return false;


        }

        function getAttachmentUrl(id){
            alert(id);
            var selector="#fileSelect"+id + " :selected";
            return "..//AttachedFiles//" +id + "//" + $(selector).val();

        }


        function getFiles(Files,Id) {

            if (Files === null) return "";

            var result = "<select class='form-control input-sm' id='fileSelect"+ Id+ "' >  ";

            var fileList = Files.split("|");
            if (fileList.length > 0) {
                for (var i = 0; i < fileList.length; i++) {
                    result+="<option>" + fileList[i] + "</option>"
                }

                var linkSelector="#fileLink"+Id;
                $(linkSelector).attr("href","..\\AttachedFiles\\" +Id + "\\" + fileList[0]);

                $(linkSelector).attr("href", "http://www.google.com/")

            }
            return result + '</select>';
        }

        function clearRegionFilterList()
        {
            var searchVal = $("#searchRegionText").val();
            if (searchVal == "")
            {
                $(".regionList div").show();
                $("#regionLessLink").trigger('click');
            }
            else {
                $(".regionList div").hide();
                $(".regionList div").each(function () {
                    if ($(this).text().toUpperCase().indexOf(searchVal.toUpperCase()) != -1) {
                        $(this).show();

                    }
                });
            }
            updateRegionShowMore();
        };

        function clearProfessionFilterList() {

            var searchVal = $("#searchProfessionText").val();

            if (searchVal == "") {
                $(".professionList div").show();
                $("#professionLessLink").trigger('click');
            }
            else {
                $(".professionList div").hide();
                $(".professionList div").each(function () {
                    if ($(this).text().toUpperCase().indexOf(searchVal.toUpperCase()) != -1) {
                        $(this).show();

                    }
                });
            }
            updateProfessionShowMore();
        };


        function clearSkillFilterList() {
            var searchVal = $("#searchSkillText").val();
            if (searchVal == "") {
                $(".skillList div").show();
                $("#skillLessLink").trigger('click');
            }
            else {
                $(".skillList div").hide();
                $(".skillList div").each(function () {
                    if ($(this).text().toUpperCase().indexOf(searchVal.toUpperCase()) != -1) {
                        $(this).show();

                    }
                });
            }
            updateSkillShowMore();
        };

        function updateRegionShowMore() {
            var hiddenItems = $(".regionList>div:hidden").length;
            if (hiddenItems > 0) {
                $("#regionMoreLink").text(hiddenItems + " mere").css('display', 'inline-block');
                $("#regionLessLink").css('display', 'none');;
            }
            else {
                $("#regionMoreLink").css('display', 'none');;
                if ($(".regionList>div").length > 9) {
                    $("#regionLessLink").css('display', 'inline-block');;
                }
            }

        }

        function updateProfessionShowMore() {
            var hiddenItems = $(".professionList>div:hidden").length;
            if (hiddenItems > 0) {
                $("#professionMoreLink").text(hiddenItems + " mere").css('display', 'inline-block');
                $("#professionLessLink").css('display', 'none');;
            }
            else {
                $("#professionMoreLink").css('display', 'none');;
                if ($(".professionList>div").length >9) {
                    $("#professionLessLink").css('display', 'inline-block');;

                }
            }

        }


        function updateSkillShowMore() {
            var hiddenItems = $(".skillList>div:hidden").length;
            if (hiddenItems > 0) {
                $("#skillMoreLink").text(hiddenItems + " mere").css('display', 'inline-block');
                $("#skillLessLink").css('display', 'none');;
            }
            else {
                $("#skillLessLink").css('display', 'inline-block');;
                $("#skillMoreLink").css('display', 'none');;
            }

        }

        //$("#searchBtn").click(function () {
        //    startSearch();
        //});

        function startSearch() {


            pageIndex = 1;
            regionIds = "";
            tagIds = "";
            skills = "";
            statusInfo="";
            fromDate="";
            toDate="";

            if (lastRequest && lastRequest.readyState != 4) {
                lastRequest.abort();
            }

            $("#everSearched").val("yes");

            //region
            $("#resumeList").find("tr:gt(0)").remove();

            $(".regionFilterItem").each(function () {

                if ($(this).is(":checked")) regionIds += $(this).attr("regionid") + ','
            });

            regionIds = regionIds.replace(/,\s*$/, '');


            //tags
            $(".tagFilterItem").each(function () {

                if ($(this).is(":checked")) tagIds += $(this).attr("tagId") + ','
            });

            tagIds = tagIds.replace(/,\s*$/, '');

            // status
            //

            $(".statusItem").each(function(){

                if($(this).is(":checked")) statusInfo += $(this).attr("value") + ','
            });


            statusInfo = statusInfo.replace(/,\s*$/, '');


            //if( $(".activeStatusItem").is(":checked") ^ $(".passiveStatusItem").is(":checked") )
            //{
            //    statusInfo=$(".activeStatusItem").is(":checked");

            //};


            // Dates

            if($(".dateItemFrom").is(":checked")) {
                fromDate=$("#_fromDate").val();
                

            }

            if($(".dateItemTo").is(":checked")) {
                toDate=$("#_toDate").val();
                
            }



            // skills

            $(".skillFilterItem").each(function () {

                if ($(this).is(":checked")) skills += $(this).attr("skill") + ','
            });

            skills = skills.replace(/,\s*$/, '');

            $("#tabs").tabs({ active: 0 });

            getResumes();
        }

        function getResumes() {
            if (pageIndex == 1 || pageIndex <= pageCount) {
                $("#loader").show();

                var params = JSON.stringify({
                    pageIndex: pageIndex,
                    keywords: $("#certigoaSearchBox").val(),
                    regionIds: regionIds,
                    tagIds: tagIds,
                    skills: skills,
                    status:statusInfo,
                    fromDate:fromDate,
                    dateType:$("#dateType").val(),
                    toDate:toDate,
                    pageSize: 100
                });



                lastRequest = $.ajax({
                    type: "POST",
                    url: "/CV/SearchResumes",
                    data: params,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: OnSuccess,
                    failure: function (response) {
                        alert('Oops! something went wrong, failure: ' + response.d);
                    },
                    error: function (response) {
                        if (response.statusText == 'abort') {
                            return;
                        }
                        alert('Oops! something went wrong, error: ' + response);
                    }
                });
                pageIndex++;
            }

            else {

                $(".tablesorter").trigger("update");

                var rowCount = $('table#resumeList tr:last').index() + 1;
                if(rowCount>1) {

                    setTimeout(function () {
                        $(".tablesorter").trigger("sorton", [$(".tablesorter")[0].config.sortList]);
                        $("table#resumeList").mark($("#certigoaSearchBox").val(),{"className": "highlight"});
                    }, 100);
                }
            };



        }

        function OnSuccess(response) {
            var resumes = response.resumes;
            pageCount = response.pageCount;
            $("#countBadge").text(response.cvCount);
            $("#resumeTemplate").tmpl(resumes).appendTo("#resumeList");

            var tbody = $("#resumeList tbody");
            
            if (tbody.children().length == 0) {
                var markup = "<tr><td colspan='3'><h5 class='text-warning'>Ingen resultater. Venligst tjekkiske filtre. </h5></td></tr>";
                $("#resumeList tbody").append(markup);
            };
            


            getResumes();

        }


        function Highlight(obj)
        {
            $("#resumeList tr").removeClass("latestOpened");
            $(obj).closest('tr').addClass('latestOpened');
        }


        function AddTab(id,tittle) {

            var newTab = "#tab" + id;
            if (!$('div#tabs li' + newTab).length) {

                $('<li id="tab' + id + '"><a href="/CV/Details/'+ id +'?' + Math.random()  +'">' + tittle        + '</a> <span class="ui-icon ui-icon-close" role="presentation">Remove Tab</span></li>').appendTo("div#tabs>ul");
                $("div#tabs").tabs("refresh");


            }
            var TAB_index = $('.ui-tabs-nav li' + newTab).index();
            $("#tabs").tabs({ active: TAB_index });

        }

 
        function Copypath(id, files) {

            var linkSelector="#fileLink"+id;
            var selector="#fileSelect"+id + " :selected";

            files= $(selector).val();

            var newid = "#tab" + id;
            var params = JSON.stringify({
                id: id,
                file:files
            });

            $.ajax({
                type: "POST",
                url: "/CV/Copypath",
                data: params,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess1,
                failure: function (response) {
                    alert('Oops! something went wrong, failure: ' + response.d);
                },
                error: function (response) {
                    if (response.statusText == 'abort') {
                        return;
                    }
                    alert('Oops! something went wrong, error: ' + response);
                }
            });

        }

        function OnSuccess1(response) {
            var resumes = response;

        }



    </script>

}

<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-2 padding-sm restrictedHeight" style="overflow-x:hidden; ">
        <div class="filterPanel">
            <div class="filterHeaderSection">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 style="margin:0px;"><span class="glyphicon glyphicon-filter"></span> Filtre</h4>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-right">
                            <button id="certigoaFilterClearAll" class="btn btn-xs btn-primary"> <span class="glyphicon glyphicon-refresh"></span> Nulstil</button>
                        </div>
                    </div>

                </div>

            </div>

            <div class="filterSection">


                <label><span class="glyphicon glyphicon-map-marker"></span> Område</label>
                <div class="row">
                    <div class="col-sm-6" style="padding-right:0px;">
                        <div class="input-group">

                            <input type="text" class="form-control input-xs" id="searchRegionText" placeholder="Søg Område" />
                            <span class="input-group-btn">
                                <button class="btn btn-xs btn-default" id="clearSearchText">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-6 ">
                        <div class="text-right">
                            <button id="regionClearAll" class="btn btn-xs btn-default"> <span class="glyphicon glyphicon-remove"></span> Fjern alt</button>
                        </div>
                    </div>
                </div>


                <div class="regionList">
                    @foreach (var region in Model.Regions)
                    {
                        <div>
                            <input type="checkbox" class="regionFilterItem" regionid="@region.Id" @(region.IsAutoSelected ? "Checked='true' autocheck=true" : "") name="checkbox-nested-@region.Id" id="checkbox-nested-@region.Id"> @region.RegionName
                        </div>
                    }
                    <p class="small">
                        <a id="regionMoreLink" class="text-primary btn" style="display:none"></a>
                        <a id="regionLessLink" class="text-primary btn padding-sm" style="display:none">Vis mindre</a>
                    </p>
                </div>

            </div>

            <div class="filterSection">
                <label><span class="glyphicon glyphicon-user"> </span> Rolletype</label>

                <div class="row">
                    <div class="col-sm-6" style="padding-right:0px;">
                        <div class="input-group">

                            <input type="text" class="form-control input-xs" id="searchProfessionText" placeholder="Søg Rolletype" />
                            <span class="input-group-btn">
                                <button class="btn btn-xs btn-default" id="clearProfessionText">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-right">
                            <button id="professionClearAll" class="btn btn-xs btn-default"> <span class="glyphicon glyphicon-remove"></span> Fjern alt</button>
                        </div>
                    </div>
                </div>
                <div class="professionList">
                    @foreach (var tag in Model.Tags)
                    {
                        <div>
                            <input type="checkbox" class="tagFilterItem" tagid="@tag.Id" name="checkbox-nested-@tag.Id" id="checkbox-nested-@tag.Id"> @tag.Tag
                        </div>
                    }

                    <hr style="margin:4px 0px;" />
                    <div style="margin:0px;">
                        <input type="checkbox" class="tagFilterItem none" tagid="-1" name="checkbox-nested--1" id="checkbox-nested--1"> Ingen Rolletype
                    </div>

                    <p class="small">
                        <a id="professionMoreLink" class="text-primary btn" style="display:none"></a>
                        <a id="professionLessLink" class="text-primary btn padding-sm" style="display:none">Vis mindre</a>
                    </p>
                </div>

            </div>

            <div class="filterSection">
                <label><span class="glyphicon glyphicon-pencil"> </span> Fag</label>
                <div class="row">
                    <div class="col-sm-6" style="padding-right:0px;">
                        <div class="input-group">

                            <input type="text" class="form-control input-xs" id="searchSkillText" placeholder="Søg fag" />
                            <span class="input-group-btn">
                                <button class="btn btn-xs btn-default" id="clearSkillText">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="text-right">
                            <button id="skillClearAll" class="btn btn-xs btn-default"> <span class="glyphicon glyphicon-remove"></span> Fjern alt</button>
                        </div>
                    </div>
                </div>

                <div class="skillList">
                    @foreach (var skill in Model.Skills)
                    {
                        <div>
                            <input type="checkbox" class="skillFilterItem" skill="@skill" name="checkbox-nested-@skill" id="checkbox-nested-@skill"> @skill
                        </div>
                    }

                    <p class="small">
                        <a id="skillMoreLink" class="text-primary btn" style="display:none"></a>
                        <a id="skillLessLink" class="text-primary btn padding-sm" style="display:none">Vis mindre</a>
                    </p>
                </div>

            </div>



            @* Status filter*@

            <div class="filterSection">
                <label><span class="glyphicon glyphicon-random"> </span> Status</label>

                <div class="statusList">

                    @foreach (CandidateStatus item in Enum.GetValues(typeof(CandidateStatus)))
                    {
                        <div>
                            <input type="checkbox" class="statusItem" id="@(item)StatusItem" @(item == CandidateStatus.Active ? "checked" : "") name="checkbox-nested-activeFilter" value="@((int)item)"> @item
                        </div>
                    }


                    @*<div> @(item==CandidateStatus.Active?"checked":"")"
        <input type="checkbox" class="activeStatusItem" checked="checked" name="checkbox-nested-activeFilter"> Active
    </div>
    <div>
        <input type="checkbox" class="passiveStatusItem"> Passive
    </div>*@
                </div>

            </div>

            @*Dates filter*@
            <div class="filterSection">
                <div class="row">
                    <div class="col-xs-6">
                        <label><span class="glyphicon glyphicon-calendar"> </span> Dates</label>  &nbsp;

                    </div>

                    <div class="col-xs-6">
                        <select id="dateType" class="form-control input-xs col-xs-6">  <option value="0">Lavet</option> <option value="1" selected>Opdateret</option> <option value="2">sidste scene</option> </select>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <input type="checkbox" class="dateItem dateItemFrom"  name="checkbox-nested-activeFilter"> From
                     </div>
                    <div class="col-xs-6">
                        <input type="text" id="fromDate" class="form-control input-xs " /> 
                        <input type="hidden" id="_fromDate" />

                    </div>

                    </div>
                <div class="row">


                    <div class="col-xs-6">
                        <input type="checkbox" class="dateItem dateItemTo" name="checkbox-nested-activeFilter"> To
                    </div>
                    <div class="col-xs-6">
                        <input type="text" id="toDate" class="form-control input-xs " />
                        <input type="hidden" id="_toDate" />
                    </div>
                </div>

            </div>




        </div>


    </div>
    <div class="col-sm-9 col-md-9 col-lg-10 padding-sm restrictedHeight" id="tabContainerRestricted">
        <input id="everSearched" type="hidden" />
        <div class="searchContentPanel">
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-list">Søge resultat <span id="countBadge" class="badge bg-warning"></span></a></li>
                </ul>
                <div id="tabs-list" class="" style="font-size:small; background-color:white; ">
                    <table id="resumeList" class="table tablesorter table-hover table-condensed table-striped" style="background-color:white;  ">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>B-R-E</th>
                                <th>Title</th>
                                <th>Firma</th>
                                <th>Navn</th>
                                <th>Postnr</th>
                                <th>By</th>

                                <th td>Fag</th>
                                <th>Vis Fil</th>
                                <th class="viewAttachment"></th>
                                <th>Kopier</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="display:none;">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                        </tbody>

                    </table>

                    <script id="resumeTemplate" type="text/x-jQuery-tmpl">
                        <tr>
                            <td style="max-width:50px;"><a class="templateLink" onclick="Highlight(this)" target="_blank" href="@Model.CVUrl.Replace("{0}", "${RegistrationId}")">${RegistrationId}</a></td>
                            <td style="max-width:50px;">${CandidateType}</td>
                            <td style="max-width:150px;">${Designation}</td>
                            <td style="max-width:150px;">${Company}</td>
                            <td><a class="templateLink" onclick="Highlight(this)" href='javascript:AddTab(${Id},"${FirstName} ${MiddleName} ${LastName}")'> ${FirstName} ${MiddleName} ${LastName}</a></td>
                            <td>${Zipcode}</td>
                            <td>${City}</td>
                            <td style="min-width:150px; max-width:150px; word-wrap:hyphenate; word-break:break-all; ">${SkillsCSV}</td>
                            <td style="min-width:50px; max-width:150px;">{{html getFiles(Files,Id)}}  </td>
                            <td><a href=" " target="_blank" id="fileLink${Id}" onclick="showAttachmentPDF(${Id})"> {{if Files}}  <span class="glyphicon glyphicon-eye-open"></span> {{/if}} </a></td>
                            <td style="text-align:center;">
                                <a class="templateLink" style="color:black;" href="javascript:Copypath(${Id},'${Files}')"> {{if Files}} <span class="glyphicon glyphicon-copy"></span> {{/if}} </a>

                            </td>
                        </tr>
                    </script>
                    @*..\AttachedFiles\103\Bo Andersen.pdf*@
                    @*javascript:getAttachmentUrl(${Id})*@

                </div>

            </div>
        </div>


    </div>

</div>




