﻿@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.title</title>
</head>

<body>
    <iframe id="attachmentIframe" name="@DateTime.Now.Ticks" src="@(ViewBag.FileName)?tm=@DateTime.Now.Ticks" style="width:100%;height:950px"> </iframe>
</body>

</html>