﻿
@model PagedList.IPagedList<CVApp2.Models.City>

@using PagedList.Mvc;

<div id="CityContainer" class="container-fluid editContainerPanel restrictedHeight">

    <div class="row">
        
        <div class="col-md-12">
            <h3 style="padding-left:15px;">

                Område :
                @if (@Session["RegionName"] != null)
                {
                 @Session["RegionName"]
                }


            </h3>



            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6">


            <div class="EditPageSection bg-primary clearfix">
                <span class="glyphicon glyphicon-map-marker"></span>  by

                @Ajax.ActionLink("Tilføj", "Create", "City", new { regionId = ViewBag.RegionId }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-xs btn-success pull-right " })


            </div>




            <table class="table table-hover">
                

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CityName)

                        </td>
                        <td style="text-align:right; padding-right:15px;">
                            @Ajax.ActionLink("Rediger", "Edit", "City", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-sm" })

                            @Html.ActionLink("Detaljer", "Details", "City", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })

                            @Ajax.ActionLink("Slet", "Delete", "City", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-sm" })
                        </td>
                    </tr>
                }

            </table>
            <br />

            @if(Model.PageCount>1)
            { 

            @Html.PagedListPager(Model, page => Url.Action("Details",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            }
            <br/>
            <hr />
            <a href="@Url.Action("Index", "Region")" class="btn btn-default"> <span class="glyphicon glyphicon-triangle-left"></span>  Gå tilbage</a>


        </div>
    </div>
</div>

    <div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;"></div>

    @section scripts {

        <script>

            $("#ajaxDialog").dialog({ autoOpen: false, modal: true, closeText: "", hide: "fadeOut", title: "by", width: "auto", position: { my: "center top", at: "center top+175", collision: "fit" } });

        function showDialog(data) {
            $("#ajaxDialog").dialog("open");

        };

        function closeDialog() {
            $("#ajaxDialog").dialog("close");
        };

        function handleSuccessCity(data) {

            $("#ajaxDialog").dialog("close");
            location.href = "@Url.Action("Details", "Region", new { id = ViewBag.RegionId })";
        };

        function handleError(ajaxContext) {

            $("#ajaxDialog").html(ajaxContext.responseText);
        };

        </script>
    }

