﻿@model IEnumerable<CVApp2.Models.Region>

@{
    ViewBag.Title = "Index";
}

@section scripts {

    <script>

        $("#ajaxDialog").dialog({ autoOpen: false, modal: true, closeText: "", hide: "fadeOut", title: "Område", width: "auto", position: { my: "center top", at: "center top+175", collision: "fit" } });

        function showDialog(data) {
            $("#ajaxDialog").dialog("open");

        };

        function closeDialog() {
            $("#ajaxDialog").dialog("close");
        };

        function handleSuccessRegion(data) {
           
            $("#ajaxDialog").dialog("close");
            location.href = "@Url.Action("Index","Region")";
        };

        function handleError(ajaxContext) {

            $("#ajaxDialog").html(ajaxContext.responseText);
        };

    </script>
}

<div id="RegionsContainer" class="container-fluid editContainerPanel">

    <div class="row">
        <div class="col-md-12">
            <h3 style="padding-left:15px;">Område</h3>

            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6">


            <div class="EditPageSection bg-primary clearfix">
                <span class="glyphicon glyphicon-map-marker"></span>  Område

                @Ajax.ActionLink("Tilføj", "Create", new { }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-xs btn-success pull-right " })

            </div>

            <table class="table table-hover">

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.RegionName)
                        </td>
                        <td style="text-align:right; padding-right:15px;">
                            @Ajax.ActionLink("Rediger", "Edit", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-sm" })

                            @Html.ActionLink("Detaljer", "Details", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })

                            @Ajax.ActionLink("Slet", "Delete", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-sm" })
                        </td>
                    </tr>
                }

            </table>


        </div>

    </div>
</div>

<div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;"></div>

