﻿@model CVApp2.Models.ZipCode

<div>
    <div class="form-group">
        @Html.Label("by", htmlAttributes: new { @class = "text-right col-md-3" })
        <div class="col-md-9">
            @Html.DisplayFor(model => model.City.CityName, new { htmlAttributes = new { @class = "" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Område", htmlAttributes: new { @class = "text-right col-md-3" })
        <div class="col-md-9">
            @Html.DisplayFor(model => model.City.Region.RegionName, new { htmlAttributes = new { @class = "" } })
        </div>
    </div>
    @Html.Hidden("ZipcodeId",Model.Id)
</div>
