﻿@model CVApp2.Models.CandidateFile

<div class="container">

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessCandidateFile", OnFailure = "handleError" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Vedhæftet fil</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            @Html.HiddenFor(model => model.CandidateId, new { htmlAttributes = new { @class = "form-control" } })

            <div class="form-group">
                @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FileName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Picture", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div id="dvPreview">
                        

                    </div>

                    <div>
                        <input name="uploadedFiles" type="file" id="addAttachmentBtn" class="file" style="opacity:0;height:1px;" />
                        <input type="button" id="uploadBtn" value="Upload" class="btn btn-default">
                    </div>

                </div>

            </div>

            <hr />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button value="Save" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Gem </button>
                    <input type="button" value="Luk" class="btn btn-default" id="diagCloseBtn" onclick="closeDialog();" />
                </div>
            </div>
        </div>
    }


</div>



