﻿@model IEnumerable<CVApp2.Models.CandidateFile>

<script>

    function showAttachment1(id, index) {

        var linkSelector = "#urlLink" + "_" + id + index;

        var filename = $(linkSelector).text();

        $(linkSelector).attr("href", "/CV/ShowAttachment?id=" + id + "&filename=" + btoa(encodeURIComponent(filename)));
    };


</script>

<table class="table table-hover">

    @{int index = 0;}

    @foreach (var item in Model)
    {
        
        <tr>
            <td>
                <div>
                    <a href="" id="urlLink_@item.CandidateId@index" target="_blank" style="color:blue;" onclick="showAttachment1(@item.CandidateId,@index)">@item.FileName</a>
                </div>
            </td>
            <td style="text-align:right; padding-right:15px;">

                @Ajax.ActionLink("Slet", "Delete", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "handleSuccessCandidateFile" }, new { @class = "btn btn-default btn-sm" })

            </td>
        </tr>
        index++;
    }

</table>
