﻿@model CVApp2.Models.PreferredRegion

<div class="container">

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessPreferredRegion", OnFailure = "handleError" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Foretrukne Område</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            @Html.HiddenFor(model => model.CandidateId, new { htmlAttributes = new { @class = "form-control" } })

            <div class="form-group">
                @Html.Label("Område", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("RegionId", ViewBag.RegionList as List<SelectListItem>, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RegionId, "", new { @class = "text-danger" })
                </div>
            </div>

            <hr />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button value="Save" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Gem </button>
                    <input type="button" value="Luk" class="btn btn-default" id="diagCloseBtn" onclick="closeDialog();" />
                </div>
            </div>
        </div>
    }


</div>
