﻿@model IEnumerable<CVApp2.Models.PreferredRegion>

@{
    ViewBag.Title = "Index";
}

<div class="EditPageSection bg-primary clearfix" >
    <span class="glyphicon glyphicon-map-marker"></span>  Foretrukne Område 
    @Ajax.ActionLink("Tilføj", "Create", new { candidateId = (int)ViewBag.CandidateId }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-xs btn-success pull-right " })
 
</div>

<table class="table table-hover">
    

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Region.RegionName)
        </td>
        <td style="text-align:right; padding-right:15px;">
            @Ajax.ActionLink("Rediger", "Edit", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-sm" })


            @Ajax.ActionLink("Slet", "Delete", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "handleSuccessPreferredRegion" }, new { @class = "btn btn-default btn-sm" })
        </td>
    </tr>
}

</table>

<script>
   
</script>