﻿@model CVApp2.Models.Fag


<div class="container">

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessFag", OnFailure = "handleError" }))
  {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Fag</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })         
          

            <div class="form-group">
                @Html.Label("Fag", htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-10">
                    @Html.EditorFor(model => model.fag, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fag, "", new { @class = "text-danger" })
                </div>
            </div>

            <hr />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button value="Save" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Gem </button>
                    <input type="button" value="Luk" class="btn btn-default" id="diagCloseBtn" onclick="closeDialog();" />
                </div>
            </div>
        </div>
    }

</div>