﻿@model PagedList.IPagedList<CVApp2.Models.Fag>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}




@section scripts {

    <script>
        
    $(function () {

        $("#SearchFagBtn").click(function () {
            var url = "  @Url.Action("Index","Fag")";
            location.href = url  + "?searchString=" + $('#searchFagText').val() ;

        });

        $('#searchFagText').keypress(function (e) {

            if (e.keyCode == 13)
                $('#SearchFagBtn').click();
        });
    });




    $("#ajaxDialog").dialog({ autoOpen: false, modal: true, closeText: "", hide: "fadeOut", title: "Fag", width: "auto", position: { my: "center top", at: "center top+175", collision: "fit" } });

    function showDialog(data) {
        $("#ajaxDialog").dialog("open");

    };

    function closeDialog() {
        $("#ajaxDialog").dialog("close");
    };

    function handleSuccessFag(data) {
        $("#ajaxDialog").dialog("close");
        location.href = "@Url.Action("Index","Fag")";

        };

        function handleError(ajaxContext) {

            $("#ajaxDialog").html(ajaxContext.responseText);
        };


    </script>

}

<div id="FagContainer" class="container-fluid editContainerPanel restrictedHeight">
     <div class="row">
        <div class="col-md-12">
            <h3 style="padding-left:15px;"> Fag</h3>

            <hr />
        </div>
    </div>
    <div class="row">

        <div class="col-sm-6 col-md-6">
            <div class="row" style="padding-left:15px;">
                <div class="col-sm-5 navSearch nav navbar-nav navbar-left">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" id="searchFagText" placeholder="Søg Fag" />
                        <span class="input-group-btn">
                            <button type="button" id="SearchFagBtn" value="Søg" class="btn btn-primary input-sm" ><span class="glyphicon glyphicon-search"> </span> Søg </button>
                        </span>
                    </div>
                </div>
            </div>
            <br />
            <div class="EditPageSection bg-primary clearfix">
                <span class="glyphicon glyphicon-pencil"></span>  Fag

                @Ajax.ActionLink("Tilføj", "Create", new { }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-xs btn-success pull-right " })

            </div>

            <table class="table table-hover">

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.fag)
                        </td>
                        <td style="text-align:right; padding-right:15px;">
                            @Ajax.ActionLink("Rediger", "Edit", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-sm" })
                            @Ajax.ActionLink("Slet", "Delete", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-sm" })
                        </td>
                    </tr>
                }

            </table>

            <br />

            @if (Model.PageCount > 1)
            {

                @Html.PagedListPager(Model, page => Url.Action("Index",
                 new { page, sortOrder = ViewBag.CurrentSort, searchString = ViewBag.CurrentFilter }))
            }

            <br />
            <hr />
            <a href="@Url.Action("Index", "Fag")" class="btn btn-default"> <span class="glyphicon glyphicon-triangle-left"></span>  Gå tilbage</a>


        </div>
    </div>
</div>

<div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;"></div>


