﻿@model CVApp2.Models.ZipCode

<div>
    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessZipCode", OnFailure = "handleError" }))
    {
        @Html.AntiForgeryToken()
        <div class="">

            @Html.HiddenFor(model => model.Id)

            @Html.HiddenFor(model => model.CityId)
            <div class="form-group">
                <div class="col-md-1">
                    <span style="font-size:32px;" class="text-danger glyphicon  glyphicon-question-sign"></span>
                </div>
                <div class="col-md-11">
                    <h4>Er du sikker på du vil slette      ? </h4>
                    <label> @Html.ValueFor(model => model.ZipCodeNumber)?</label>
                    <br />

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <br />
                </div>
            </div>





            <div class="">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" value="Delete" class="btn btn-primary "><span class="glyphicon glyphicon-ok"></span> Ja </button>
                    <input type="button" value="Nej" class="btn btn-default" id="diagCloseBtn" onclick="closeDialog();" />
                </div>
            </div>
        </div>
    }
</div>
