﻿@model CVApp2.Models.CandidateSkill

<div class="container">

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessCandidateSkill", OnFailure = "handleError" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Fag</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            @Html.HiddenFor(model => model.CandidateId, new { htmlAttributes = new { @class = "form-control" } })

            <div class="form-group">
                @Html.Label("Fag", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Skill, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Skill, "", new { @class = "text-danger" })
                </div>
            </div>

            <hr  />

            <div id="atoz" class="text-center" style="margin-bottom:15px;">
               

                    <script>

                        function scrollToTop(id) {
                            if ($(id).length) {

                                $("#parentUl").scrollTop(0);

                                $("#parentUl").animate({
                                    scrollTop: $(id).position().top - $("#parentUl").position().top 
                                }, 800);
                            }
                        }

                        var alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".split("").forEach(function (value) {
                            $("#atoz").append('<a class="btn btn-default btn-sm" style="margin-right:2px;" onclick=scrollToTop("#letter' + value + '");  " >' + value + '</a>');

                        });

                    </script>

                

            </div>
            
            @{
        IEnumerable<CVApp2.Controllers.SkillGroup> groups = ViewBag.SkillsGrouped as IEnumerable<CVApp2.Controllers.SkillGroup>;
            }

            <div id="parentUl" style="max-height:350px; overflow-y:scroll;margin-bottom:25px;">

                <ul style="list-style-type:none">

                    @foreach (var item in groups)
                    {
                        var letterId = "letter" + item.Letter;
                        <li id="@letterId" >

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    @item.Letter
                                </div>
                                <div class="panel-body">
                                    <ul style="list-style-type:none;columns: 3; -webkit-columns: 3;  -moz-columns: 3;" class="skillGroupList" onclick="groupItemclick">
                                        @foreach (var skill in item.Skills)
                                        {
                                            <li>

                                                <a style="cursor:pointer;" onclick="groupItemclick(this)"> @skill </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </li>
                    }

                </ul>

            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button value="Save" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Gem </button>
                    <input type="button" value="Luk" class="btn btn-default" id="diagCloseBtn" onclick="closeDialog(this);" />
                </div>
            </div>
        </div>
    }


</div>

