﻿
@{
    ViewBag.Title = "LatestCreated";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="panel panel-default" style="padding:20px;">

    <h4>Latest Modified</h4>
    <hr />
    

    <form id="reportForm" class="form-horizontal" method="post" >

        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Date:</label>
            <div class="col-sm-10">
                <label class="radio-inline"><input type="radio" name="dateType" value="0"        >Created</label>
                <label class="radio-inline"><input type="radio" name="dateType" value="1" checked>Updated</label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Modified:</label>
            <div class="col-sm-10">
                <div class="radio">
                    <label>
                        <input type="radio" name="dateRange" checked value="1">

                        <span>Within the last</span> <input id="withinLastValue" type="number" min="1" class="" value="1"  /> <select id="withinCriteria" class=""><option value="d">days</option><option value="w">weeks</option><option value="m">months</option></select> 
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="dateRange" value="2" id="bewteenType">Between 
                        <input id="fromDate" type="text" onclick="changeRadio()" /> <input type="hidden" id="_fromDate" /> 
                        <input type=text id="toDate" onclick="changeRadio()" /> <input type="hidden" id="_toDate" />
                    </label>
                </div>
            </div>
        </div>

        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-primary no-print col-sm-offset-3 ">Submit</button>
        </div>

        </form>
</div>

<div class="panel panel-default" style="padding:10px;">
    <div id="result-div">


        <table id="candidatesList" class="table tablesorter table-condensed table-striped" >
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Firma</th>
                    <th>Navn</th>
                    <th>Mobile</th>
                    <th>Email</th>

                </tr>
            </thead>
            <tbody>
                <tr style="display:none;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </tbody>

        </table>

        <script id="resumeTemplate" type="text/x-jQuery-tmpl">
            <tr>
                <td style="max-width:50px;">${RegistrationId}</td>
                
                <td style="max-width:150px;">${Designation}</td>
                <td style="max-width:150px;">${Company}</td>

                <td> ${FirstName} ${MiddleName} ${LastName}</td>
                <td>${PhoneMobile}</td>
                <td>${Email}</td>

            </tr>
        </script>



    </div>
</div>



    @section Scripts{
        <script>




            $(function () {
                $('#fromDate').datepicker("setDate", "-7");
                $('#toDate').datepicker("setDate", "0");

            });


            function changeRadio() {
                $('input[name=dateRange]').prop("checked", false);
                $('#bewteenType').prop("checked", true);
            }

            
            var opts = {
                defaultDate: "+7",
                setDate: "0",
                changeMonth: true,
                numberOfMonths: 1,
                altFormat: "yy-mm-dd",
                dateFormat: "d-mm-yy"
            };

            $('#fromDate').datepicker(
              $.extend({
                  altField: "#_fromDate"
              }, opts)
            );


            $("#toDate").datepicker(
                $.extend({ altField: "#_toDate" }, opts)
                );



            var startDateISO, endDateISO;
            var dt1;

            


            $("#reportForm").submit(function (event) {
                event.preventDefault();


                var $form = $(this),
                    url = $form.attr('action');

                var startDate, endDate;


                dateType = $('input[name=dateType]:checked', $form).val();

                dateRange = $('input[name=dateRange]:checked', $form).val()

                switch (dateRange) {
                    case "1":
                        

                        var d = new Date();
                        endDate = new Date();

                        switch ($("#withinCriteria").val()) {

                            case "m":


                                d.setDate(d.getDate() - 30 * $("#withinLastValue").val());
                                startDate = d;
                                break;
                            case "w":

                                d.setDate(d.getDate() - 7 * $("#withinLastValue").val());
                                startDate = d;

                                break;

                            case "d":
                                d.setDate(d.getDate() - 1 * $("#withinLastValue").val());
                                startDate = d;

                                break;

                            default:

                        }


                        startDateISO = $.datepicker.formatDate("yy-mm-dd", startDate);
                        endDateISO = $.datepicker.formatDate("yy-mm-dd", endDate);
                        break;
                    case "2":
                        startDateISO = $("#_fromDate").val();
                        endDateISO = $("#_toDate").val();
                        break;
                    default:
                        alert("3");
                        break;
                }

                /* Send the data using post with element id name and name2*/
                var posting = $.post(url, { dateType: dateType, from: startDateISO, to: endDateISO });
                $("#candidatesList").find("tr:gt(0)").remove();

                /* Alerts the results */
                posting.done(function (data) {

                    $("#resumeTemplate").tmpl(data).appendTo("#candidatesList");
                });


            });

        </script>
    }
