﻿@model  CVApp2.Models.CandidateNotes
@{
    ViewBag.Title = "Create";
}

@using (Ajax.BeginForm("Create", "CandidateNotes", new AjaxOptions { OnSuccess = "handleSuccessCandidateNotes", OnFailure = "handleError" }))
{
    @Html.AntiForgeryToken()


    @Html.HiddenFor(model => model.CandidateId)

    @Html.TextAreaFor(model => model.Note, new { @class = "form-control", Style = "max-width:100%;", rows = "4" })

    @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })

    <div class="clearfix">
        <button value='Add' class="btn btn-xs btn-primary pull-right" style="margin-top:10px;" id="addnotes">Add</button>
    </div>
}


