﻿@model IEnumerable<CVApp2.Models.CandidateNotes>
@{
    ViewBag.Title = "Index";
}

            <ul class="col-md-6">
                @foreach (var item in @Model)
                { 
                    <li>@Html.DisplayFor(modelItem => item.Note)</li>
                }
            </ul>
