﻿@model CVApp2.Models.DocumentGroup

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_KnowledgeLayout.cshtml";

}

<div class="editContainerPanel restrictedHeight">

    <h3><span class="glyphicon glyphicon-plus"></span> Dokument Gruppe</h3>
    <hr />
    <div class="row">
        <div class="col-md-5 col-md-offset-1">


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                <div class="EditPageSection bg-success">Gruppe Detaljer</div>

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Navn", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control"} })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Beskrivelse", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @Html.HiddenFor(model => model.ParentGroupId, new { id = "parentGroupId" })

                    <div class="form-group">
                        @Html.Label("Overordnet gruppe", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="form-control" style="height:auto;">
                                @Html.Action("GroupTree", "DocumentGroup")
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Gem" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }



        </div>
    </div>

</div>

@section scripts{
    <script>
        $(function () {
            $("#groupTree").jstree({
                "checkbox": { "three_state": false },
                "core": {
                    "multiple": false,
                    "themes": {
                        "variant": "large"
                    }
                },
                "plugins": ["wholerow", "checkbox"]
            })
            .on("changed.jstree",
     function (evt, data) {

         var i, j;
         $("#parentGroupId").val(0);
         for (i = 0, j = data.selected.length; i < j; i++) {
             var node_id = (data.instance.get_node(data.selected[i]).id);
             $("#parentGroupId").val(($("#" + node_id).attr("data-value")));

         }

         
     }
);


        });

    </script>
}