﻿@model IEnumerable<CVApp2.Models.DocumentGroup>


<div id="groupTree">

        @PrintCategoryTree(Model.Where(x => x.ParentGroupId==0))
    
</div>

@functions{
    public IHtmlString PrintCategoryTree(IEnumerable<CVApp2.Models.DocumentGroup> levelCategories)
    {
        if (levelCategories.Count() == 0) { return new HtmlString(String.Empty); }

        System.Text.StringBuilder sb = new System.Text.StringBuilder();

        TagBuilder childBuilder = new TagBuilder("li");

        foreach (var item in levelCategories.OrderBy(x => x.Name))
        {
            childBuilder.Attributes.Clear();
            childBuilder.Attributes.Add("data-value", item.Id.ToString());
            var sub = PrintCategoryTree(Model.Where(x => x.ParentGroupId == item.Id));

            childBuilder.InnerHtml = item.Name + sub.ToString();
            sb.AppendLine(childBuilder.ToString());
        }

        TagBuilder tagBuilder = new TagBuilder("ul")
        {
            InnerHtml = sb.ToString()
        };

        return Html.Raw(tagBuilder.ToString());
    }
}


