﻿@model IEnumerable<CVApp2.Models.DocumentGroup>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_KnowledgeLayout.cshtml";
}


<div class="editContainerPanel restrictedHeight">

    <h3> <span class="glyphicon glyphicon-grain"></span>  Dokument Gruppe</h3>
    <hr />

    <div class="row">
        <div class="col-md-3">
            <div class="input-group">

                <input type="text" class="form-control " id="searchGroupText" placeholder="Søg" />
                <span class="input-group-btn">
                    <button class="btn  btn-default" id="clearGroupText">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-9">
            <div class="text-right">
                @Html.ActionLink("Tilføj Ny Gruppe", "Create", null, new { @class = "btn btn-success", style = "margin-bottom:10px;" })
            </div>
        </div>
    </div>

    <div class="form-control" style="height:auto;">
        <div id="groupTree">

            @PrintGroupTree(Model.Where(x => x.ParentGroupId == 0))

        </div>

    </div>
</div>

<div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;"></div>


@functions{
    public IHtmlString PrintGroupTree(IEnumerable<CVApp2.Models.DocumentGroup> levelCategories)
    {
        if (levelCategories.Count() == 0) { return new HtmlString(String.Empty); }

        System.Text.StringBuilder sb = new System.Text.StringBuilder();

        TagBuilder childBuilder = new TagBuilder("li");

        foreach (var item in levelCategories.OrderBy(x => x.Name))
        {
            childBuilder.Attributes.Clear();
            childBuilder.Attributes.Add("data-value", item.Id.ToString());
            var sub = PrintGroupTree(Model.Where(x => x.ParentGroupId == item.Id));

            childBuilder.InnerHtml = string.Format("<table   style='display: inline-block'><tr><td><b>{0} </b> &nbsp; {1} &nbsp; <a href='{2}' class='btn btn-default btn-xs'>Rediger</a> {3} </td></tr></table>", item.Name, item.Description, Url.Action("Edit", new { id = item.Id }), Ajax.ActionLink("Slet", "Delete", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-xs" })) + sub.ToString();
            sb.AppendLine(childBuilder.ToString());

        }

        TagBuilder tagBuilder = new TagBuilder("ul")
        {
            InnerHtml = sb.ToString()
        };

        return Html.Raw(tagBuilder.ToString());
    }
}


@section scripts{
    <script>
        $(function () {

            to = false;
            $("#searchGroupText").on('input', OnSearchTextChange);


            $("#clearGroupText").click(function () {
                $("#searchGroupText").val("");
                OnSearchTextChange();
            });



            $("#ajaxDialog").dialog({ autoOpen: false, modal: true, closeText: "", hide: "fadeOut", title: "Knowledge Søg", width: "auto", position: { my: "center top", at: "center top+175", collision: "fit" } });


            $("#groupTree").jstree({
                "checkbox": { "three_state": false },
                "core": {
                    "html_titles" : true,
                    "multiple": false,
                    "themes": {
                        "variant": "large"
                    }
                },
                "plugins": ["wholerow","search"]
            })
            .on('ready.jstree', function () {
                $('#groupTree').off("click.jstree", ".jstree-anchor");
            })


        });


        function OnSearchTextChange() {

            if (to) { clearTimeout(to); }
            to = setTimeout(function () {
                var v = $('#searchGroupText').val();
                $('#groupTree').jstree(true).search(v);
            }, 250);

        }

        function showDialog(data) {
            $("#ajaxDialog").dialog("open");

        };

        function handleDeleteSuccess(data) {

            $("#ajaxDialog").dialog("close");
            location.href = "/DocumentGroup";
        };


        function handleError(ajaxContext) {

            $("#ajaxDialog").html(ajaxContext.responseText);
        };

        function closeDialog() {
            $("#ajaxDialog").dialog("close");
        };

    </script>
}