﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/Site.css">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="padding-top:10px; background-color:white;">

    <div>
        @RenderBody()
    </div>

   
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryAjax")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/jqueryval")

</body>
</html>
