﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title  - by Certigoa</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/KnowledgeSite.css">
    <link rel="stylesheet" href="~/Content/themes/default/style.css" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="container-fluid navbar-inverse navbar-fixed-top">
        <div class="col-sm-2 navLogo navbar-fixed-top">
            <h4 > <a style="text-decoration: none; color: inherit;"  href="@Url.Action("Index","Knowledge")"> <span class="glyphicon glyphicon-globe"> </span> Videnskartotek </a> </h4>
        </div>

        <div class="col-sm-5 nav navbar-nav navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Url.Action("Index","CV")"><span class="glyphicon glyphicon-search"></span> CV Søg</a></li>
                <li><a href="@Url.Action("Create","Document")"><span class="glyphicon glyphicon-plus"></span> Tilføj Dokument</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-wrench"></span> Administrer<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "DocumentGroup")"><span class="glyphicon glyphicon-grain"></span> Dokument Gruppe</a></li>
                    </ul>
                </li>

            </ul>
        </div>

        <div class="col-sm-5 navSearch nav navbar-nav navbar-right">
            <div class="input-group">
                <input type="text" id="certigoaSearchBox" placeholder="Søg" class="form-control input-sm" />
                <span class="input-group-btn">
                    <button type="button" id="certigoaSearchBtn" value="Søg" class="btn btn-success input-sm"><span class="glyphicon glyphicon-search"> </span> Søg </button>
                </span>

            </div>
        </div>

    </div>


    <div class="container-fluid body-content">
        <a id="back-to-top" href="#" class="btn btn-primary btn-sm back-to-top"
           role="button" title="Tilbage til toppen" data-toggle="tooltip" data-placement="top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        @RenderBody()


    </div>

    @*Scripts*@


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/jqueryAjax")
    @Scripts.Render("~/bundles/jqueryval")


    <script type="text/javascript" src="~/Scripts/tablesorter/jquery.metadata.js"></script>
    <script type="text/javascript" src="~/Scripts/tablesorter/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jstree.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.mark.min.js"></script>

    @RenderSection("scripts", required: false)
    <script>
        $('#certigoaSearchBox').keypress(function (e) {
            
            if (e.keyCode == 13)
                $('#certigoaSearchBtn').click();
        });

        $("#certigoaSearchBtn").click(function () {
            if (typeof isSearchPage === 'undefined') {
                location.href="/Knowledge"
            }
            else {
                startSearch();
            }
        });
    </script>

</body>
</html>
