﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title  - by Certigoa</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/Print.css" media="print" />

    @Scripts.Render("~/bundles/modernizr")

     
</head>
<body>



    <div class="container-fluid navbar-inverse navbar-fixed-top no-print">
        <div class="col-sm-2 navLogo navbar-fixed-top">
            <h3> <a style="text-decoration: none; color: inherit;" href="@Url.Action("Index","CV")"><span class="text-success glyphicon glyphicon-search"> </span> CV Søg </a> </h3>
        </div>

        <div class="col-sm-5 nav navbar-nav navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Url.Action("Index","Knowledge")"><span class="glyphicon glyphicon-globe"></span> Videnskartotek</a></li>
                <li><a href="@Url.Action("Create","CV")"><span class="glyphicon glyphicon-plus"></span> Tilføj Person</a></li>
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-list"></span> Reports<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("LatestCreated","Reports")">Latest Modified </a></li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-wrench"></span> Administrer<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "Region")"><span class="glyphicon glyphicon-map-marker"></span> Område</a></li>
                        <li><a href="@Url.Action("Index", "ProfessionTags")"><span class="glyphicon glyphicon-user"></span> Rolletype</a></li>
                        <li><a href="@Url.Action("Index", "Fag")"><span class="glyphicon glyphicon-pencil"></span> Fag</a></li>
                    </ul>
                </li>

            </ul>
        </div>

        <div class="col-sm-5 navSearch nav navbar-nav navbar-right">           
                <div class="input-group">
                    <input type="text" id="certigoaSearchBox" placeholder="Søg" class="form-control input-sm" />
                    <span class="input-group-btn">
                        <button type="button" id="certigoaSearchBtn" value="Søg" class="btn btn-primary input-sm"><span class="glyphicon glyphicon-search"> </span> Søg </button>
                    </span>
                </div>            
        </div>
        <button class="btn input-sm" style="background-color:transparent;"></button>
    </div>



    <div class="container-fluid body-content">
        <a id="back-to-top" href="#" class="btn btn-primary btn-sm back-to-top"
           role="button" title="Tilbage til toppen" data-toggle="tooltip" data-placement="top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        @RenderBody()


    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/jqueryAjax")
    <script type="text/javascript" src="~/Scripts/tablesorter/jquery.metadata.js"></script>
    <script type="text/javascript" src="~/Scripts/tablesorter/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.mark.min.js"></script>


    @RenderSection("scripts", required: false)

    <script>


        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            //$('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        //$('#back-to-top').tooltip('show');

        $("#certigoaSearchBtn").click(function () {

            if (typeof searchPage !== 'undefined') {
                startSearch();
            }
            else {
                window.location.href = "/CV";
            }
        });

        $('#certigoaSearchBox').keypress(function (e) {

            if (e.keyCode == 13)
                $('#certigoaSearchBtn').click();
        });

        $(document).ready(function () {
            $("#certigoaSearchBox").autocomplete({
                autoFocus: true,
                delay:500,
                classes: {
                    "ui-autocomplete": "autocomplete-popup"
                },
                select: function (event, ui) {

                    setTimeout(function () {
                        $('#certigoaSearchBtn').click();

                    }, 100);

                    return true;
                },
                source: function (request, response) {

                    prefix = request.term;
                    regIds = "";
                    taIds = "";
                    skils = "";
                    statInfo = null;
                    fromDate = "";
                    toDate = "";

                    if (lastRequest && lastRequest.readyState != 4) {
                        lastRequest.abort();
                    }


                    $("#resumeList").find("tr:gt(0)").remove();

                    $(".regionFilterItem").each(function () {

                        if ($(this).is(":checked")) regIds += $(this).attr("regionid") + ','
                    });

                    regIds = regIds.replace(/,\s*$/, '');



                    $(".tagFilterItem").each(function () {

                        if ($(this).is(":checked")) taIds += $(this).attr("tagId") + ','
                    });

                    taIds = taIds.replace(/,\s*$/, '');


                    if ($(".activeStatusItem").is(":checked") ^ $(".passiveStatusItem").is(":checked")) {
                        statInfo = $(".activeStatusItem").is(":checked");

                    };


                    if ($(".dateItemFrom").is(":checked")) {
                        fromDate = $("#_fromDate").val();


                    }

                    if ($(".dateItemTo").is(":checked")) {
                        toDate = $("#_toDate").val();

                    }


                    $(".skillFilterItem").each(function () {

                        if ($(this).is(":checked")) skils += $(this).attr("skill") + ','
                    });

                    skils = skils.replace(/,\s*$/, '');

                    $("#tabs").tabs({ active: 0 });

                    var parms = JSON.stringify({
                        prefix: prefix,
                        regIds: regIds,
                        taIds: taIds,
                        skils: skils,
                        stats: statInfo,
                        fromDate: fromDate,
                        dateType: $("#dateType").val(),
                        toDate: toDate
                    });

                    $.ajax({
                        url: "/CV/GetList",
                        type: "GET",
                        dataType: "json",
                        data: { "prefix": request.term, "regIds": regIds, "taIds": taIds, "skils": skils, "stats": statInfo },
                        success: function (data) {
                            $("#certigoaSearchBox").removeClass("ui-autocomplete-loading");
                            response($.map(data, function (item) {
                                return {
                                    label: item,
                                    value: item
                                };
                            }))
                            
                        },
                        error : function(data) {
                            $("#certigoaSearchBox").removeClass("ui-autocomplete-loading");
                    }
                    });

                    
                },
                messages: {
                    noResults: "", results: ""
                }
                
            });
                    
        })

       

            function toggle_visibility(id) {
                var e = document.getElementById(id);
                if (e.style.display == 'none')
                    e.style.display = 'block';
                else
                    e.style.display = 'none';

                return false;
            }



    </script>
</body>

</html>
