﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_KnowledgeLayout.cshtml";
}



<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-3 padding-sm restrictedHeight" style="overflow-x:hidden;">
        <div class="filterPanel">
            <div class="filterHeaderSection">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 style="margin:0px;"><span class="glyphicon glyphicon-filter"></span> Filtre</h4>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-right">
                            <button id="certigoaFilterClearAll" class="btn btn-xs btn-primary"> <span class="glyphicon glyphicon-remove"></span> Fjern alt</button>
                        </div>
                    </div>

                </div>

            </div>

            <div class="filterSection">
                <div>

                    <label><span class="glyphicon glyphicon-th-list"></span> Dokument Gruppe </label>
                </div>
                <div class="col-md-9 ">
                    <div class="input-group">

                        <input type="text" class="form-control input-xs" id="searchGroupText" placeholder="Søg" />
                        <span class="input-group-btn">
                            <button class="btn btn-xs btn-default" id="clearGroupText">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </span>
                    </div>
                </div>


                @Html.Action("GroupTree", "DocumentGroup")
            </div>

        </div>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-9 padding-sm restrictedHeight" style="">

        <div class="searchContentPanel">

            <div id="documentContainer" class="roundedBorder " style="display:inline-block;width:100%">

                <table id="documentsTable" class="table table-striped  table-hover tablesorter">
                    <thead>
                        <tr>
                            <th width="150px">
                                Afsagt den
                            </th>
                            <th>
                                <a href="@Url.Action("Index", "DocumentGroup") ">J.nr</a>
                            </th>
                            <th>
                                Resume
                            </th>
                            <th>
                                Tag
                            </th>
                            <th>Kopier</th>

                            <th width="120px"></th>
                        </tr>


                    </thead>

                    <tbody>
                        <tr style="display:none;">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>

                </table>


                <script id="documentsTemplate" type="text/x-jQuery-tmpl">

                    <tr>
                        <td>${Created}</td>
                        <td>${DocumentGroup.Name}</td>
                        <td>
                            <a href=" " target="_blank" id="fileLink${Id}" onclick="showAttachmentPDF(${Id})">
                                ${FileName}
                            </a>
                        </td>
                        <td>${Tags}</td>
                        <td>
                            <a class="templateLink" style="color:black;" href=" javascript:Copypath(${Id},'${ServerFileName}')"> <span class="glyphicon glyphicon-copy"></span> </a>

                        </td>

                        <td>
                            <a href="/Document/Edit/${Id}" class="btn btn-default btn-xs ">Rediger </a>
                            <a class="btn btn-default btn-xs" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-success="showDialog" data-ajax-update="#ajaxDialog" href="/Document/Delete/${Id}">Slet</a>
                        </td>
                    </tr>
                </script>


            </div>
        </div>
    </div>
</div>


<div id="ajaxDialog" class="ajaxDialog" style="min-width:400px;"></div>





@section scripts{
    <script>
        var isSearchPage = true;
        var lastRequest;
        var groupIds;
        var initialySelectedGroup=0;

        $(function () {


            @if (ViewBag.SelectedGroup!=null)
                {
                    <text>
            initialySelectedGroup =@ViewBag.SelectedGroup;

            </text>
                }

            to = false;
            $("#searchGroupText").on('input', OnSearchTextChange);


            $("#clearGroupText").click(function () {
                $("#searchGroupText").val("");
                OnSearchTextChange();
            });

            $(".tablesorter").tablesorter({
                sortReset: true,
                sortRestart: true,
                sortInitialOrder: 'desc',
                headers: {1:{ sorter: false }, 4: { sorter: false }, 5: { sorter: false } }

            });




            $("#groupTree")
                .on("ready.jstree", function (event, data) {
                    if(initialySelectedGroup!=0) {
                        data.instance.open_all();
                        var requiredNode = $('#groupTree').find("li[data-value="+initialySelectedGroup+ "]").attr("id");
                        data.instance.close_all();

                        data.instance.open_node([requiredNode]);
                        data.instance.select_node([requiredNode]);
                    }
                })
                .jstree({
                    "core": {

                    },
                    "checkbox": { "three_state": false },
                    "plugins": ["wholerow", "checkbox","search"]
                })
                .on("changed.jstree",
                 function (evt, data) {

                     var i, j, r = [];
                     for (i = 0, j = data.selected.length; i < j; i++) {
                         var node_id = (data.instance.get_node(data.selected[i]).id);
                         r.push($("#" + node_id).attr("data-value"));
                     }

                     groupIds = r.join(', ');
                     startSearch();
                 });


            $("#certigoaFilterClearAll").click(function () {
                $("#groupTree").jstree(true).deselect_all();
            });


        });


        function initiallySelectedGroup(groupId)
        {

        }


        function OnSearchTextChange(){

            if(to) { clearTimeout(to); }
            to = setTimeout(function () {
                var v = $('#searchGroupText').val();
                $('#groupTree').jstree(true).search(v);
            }, 250);

        }

        function formatDate(datetime) {
            var dateObj = new Date(parseInt(datetime.replace("/Date(", "").replace(")/", ""), 10));
            return dateObj.toLocaleDateString();
        }

        function showAttachmentPDF(id)
        {
            var linkSelector="#fileLink"+id;
            $(linkSelector).attr("href", "/Knowledge/ShowAttachment?id="+ id );

            return false;


        }


        $("#ajaxDialog").dialog({ autoOpen: false, modal: true, closeText: "", hide: "fadeOut", title: "Dokument", width: "auto", position: { my: "center top", at: "center top+175", collision: "fit" } });

        function showDialog(data) {
            $("#ajaxDialog").dialog("open");

        };
        function closeDialog() {
            $("#ajaxDialog").dialog("close");
        };

        function handleDeleteSuccess(data) {

            var nodes = $('#groupTree').jstree('get_selected', true);

            var i, j, r = [];
            for (i = 0, j = nodes.length; i < j; i++) {
                var node_id = (nodes[i]).id;
                r.push($("#" + node_id).attr("data-value"));
            }

            startSearch( r.join(', '));

            closeDialog();

        };



        function handleError(ajaxContext) {

            $("#ajaxDialog").html(ajaxContext.responseText);
        };


        function startSearch() {

            pageIndex = 1;

            if (lastRequest && lastRequest.readyState != 4) {
                lastRequest.abort();
            }

            $("#documentsTable").find("tr:gt(0)").remove();
            getDocuments();



        }

        function getDocuments() {
            if (pageIndex == 1 || pageIndex <= pageCount) {
                $("#loader").show();


                var params = JSON.stringify({
                    groupIds: groupIds,
                    keywords: $("#certigoaSearchBox").val(),
                    pageIndex: pageIndex,
                    pageSize: 100
                });

                lastRequest = $.ajax({
                    type: "POST",
                    url: "/Document/Index",
                    data: params,

                    contentType: "application/json; charset=utf-8",
                    success: OnSuccess,
                    failure: function (response)
                    { alert('Oops! something went wrong, failure: ' + response.d); },

                    error: function (response) {
                        if (response.statusText == 'abort') {
                            return;
                        }
                        alert('Oops! something went wrong, error: ' + response);
                    }

                });

                pageIndex++;



            }

            else {

                $(".tablesorter").trigger("update");

                var rowCount = $('table#documentsTable tr:last').index() + 1;
                if(rowCount>1) {
                    setTimeout(function () {
                        $(".tablesorter").trigger("sorton", [$(".tablesorter")[0].config.sortList]);
                        $("table#documentsTable").mark($("#certigoaSearchBox").val(),{"className": "highlight"});
                    }, 100);
                }
            };

        }


        function OnSuccess(response) {
            pageCount = response.pageCount;


            $("#documentsTemplate").tmpl(response.documents).appendTo("#documentsTable");






            getDocuments();
        }

        function Copypath(id, files) {

            var newid = "#tab" + id;
            var params = JSON.stringify({
                id: id,
                file: files
            });

            $.ajax({
                type: "POST",
                url: "/Document/Copypath",
                data: params,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess1,
                failure: function (response) {
                    alert('Oops! something went wrong, failure: ' + response.d);
                },
                error: function (response) {
                    if (response.statusText == 'abort') {
                        return;
                    }
                    alert('Oops! something went wrong, error: ' + response);
                }
            });

        }

        function OnSuccess1(response) {
            var resumes = response;
            alert("Kopied");
        }




    </script>
}
