﻿@model CVApp2.Models.Document


@{
    Layout = "~/Views/Shared/_AttachmentsLayout.cshtml";
}



<div class="container-fluid">

    <div class="row">
        <div class="col-md-4">

            <div class=" ">
                <input id="documentGroupId" value="@Model.DocumentGroupId" class="hidden" />

                <div class="panel panel-default attachmentTabPanel">

                    <h4 class="text-primary">Dokument : @Model.FileName </h4>
                    <label>Dokument Grupep</label> : <span>@Model.DocumentGroup.Name</span>
                </div>

                <div class="panel panel-default attachmentTabPanel">
                    <label>JNr</label> : <span>@Model.JNo</span><br />
                    <label>JNr Dato</label> : <span>@Html.DisplayFor(model => model.JDate)</span><br />
                    <label>Sendt til offentliggørelse</label> : <span>@Model.ReleasedForPublication</span>
                </div>

                <div class="panel panel-default attachmentTabPanel">
                    <label>Karnov nr</label> : <span>@Model.KarnovNo</span><br />
                    <label>Off Karnov dato</label> : <span>@Html.DisplayFor(model => model.KarnovDate)</span><br />
                </div>

                <div class="panel panel-default attachmentTabPanel">
                    <label><strong>TBB nr</strong></label> : <span>@Model.TBBNo</span><br />
                    <label><strong>TBB dato</strong></label> : <span>@Html.DisplayFor(model => model.TBBDate)</span><br />
                </div>
            </div>

            <div class="">
                <div class="panel panel-default attachmentTabPanel">
                    <label>Voldgiftsrettens sammensætning</></label>
                    <p>@Model.ArbitrationCourtComposition</p>
                    <hr />
                    <label>Resume</label>
                    <p>@Model.Summary</p>
                    <hr />
                    <label>Bemærkninger</></label>
                    <p>@Model.Comments</p>

                </div>

                <div class="panel panel-default attachmentTabPanel">
                    <label>Tag</label>
                    <p>@Model.Tags</p>
                </div>
                <div>
                    <a href="/Document/Edit?Id=@Model.Id" class="btn btn-default btn-xs ">Rediger </a>
                    <a class="btn btn-default btn-xs" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-success="showDialog" data-ajax-update="#ajaxDialog" href="/Document/Delete?Id=@Model.Id">Slet</a>

                </div>
            </div>
        </div>
        <div class="col-md-8">
            <iframe id="attachmentIframe" src="@ViewBag.FileName" style="width:100%;height:900px"> </iframe>
        </div>
    </div>

</div>

<div id="ajaxDialog" class="ajaxDialog" style="min-width:400px;"></div>

<script>

    $(function () {
        $("#ajaxDialog").dialog({ autoOpen: false, modal: false, closeText: "", hide: "fadeOut", title: "Dokument", width: "auto" });
    });

    function showDialog(data) {
        $("#ajaxDialog").dialog("open");

    };
    function closeDialog() {
        $("#ajaxDialog").dialog("close");
    };

    function handleDeleteSuccess(data) {

        $("#ajaxDialog").dialog("close");
        window.location = "/Knowledge?selectedGroup=" + $('#documentGroupId').val();
    };

    function handleError(ajaxContext) {

        $("#ajaxDialog").html(ajaxContext.responseText);
    };
   

</script>


