﻿
@{
    ViewBag.Title = "Test";
}

@section Scripts{

  

    <script> 
        $(function () {

           
        });
    </script>

   }     

<h2>Test</h2>

<a href="~/AttachedFiles/Larsen.pdf" target="_blank">Attachment</a>
